{% extends 'base.html' %}
{% block title %}About our analysis{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                About our analysis
            </h1>
            <p class="govuk-body">
                Information about our measurement framework for social mobility – the Social Mobility Index – and an
                introduction to the main statistical concepts used in State of the Nation.
                For more information, see the <a href="https://www.gov.uk/government/publications/state-of-the-nation-2024-local-to-national-mapping-opportunities-for-all/technical-annex"
                   target="_blank"
                   class="govuk-link">
                    full technical annex on GOV.UK</a>.
            </p>

            <h2 class="govuk-heading-m"
                id="monitoring-social-mobility">
                Monitoring social mobility: the Social Mobility Index
            </h2>
            <p class="govuk-body">
                The Social Mobility Commission (SMC) monitors social mobility across the UK.
                We aim to understand how many people are socially mobile, in what parts of the country, and whether a
                person’s background can limit their opportunity.
            </p>
            <p class="govuk-body">
                Monitoring social mobility is complex and difficult.
                Data can be hard to get or may not exist at all, such as income records linked across generations.
                Where data does exist, it can be very hard to interpret.
                We took the best available advice from academics, policymakers, and charities working in social mobility.
            </p>

            <h2 class="govuk-heading-m"
                id="social-mobility-outcomes-and-drivers">
                Social mobility outcomes and drivers
            </h2>
            <p class="govuk-body">
                Our index presents a framework for monitoring social mobility in the UK.
                It consists of 3 types of measures: mobility outcomes, intermediate outcomes and drivers.
                Looking at these measures can inform us how social mobility has changed in the past and how it might develop in the future.
            </p>

            <h3 class="govuk-heading-s"
                id="mobility-outcomes">
                Mobility outcomes
            </h3>
            <p class="govuk-body">
                Mobility outcomes are about making progress from your parents’ position to your own eventual position as an adult.
                For example, we might compare people’s incomes at around the age of 50 years.
                We look at:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>occupational class</li>
                <li>income</li>
                <li>wealth</li>
                <li>education</li>
                <li>housing</li>
            </ul>

            <h3 class="govuk-heading-s"
                id="intermediate-outcomes">
                Intermediate outcomes
            </h3>
            <p class="govuk-body">
                Intermediate outcomes are similar, but we look at people’s progress from their parents’ position to
                their own position at an earlier point in life, such as employment in their 20s or educational
                attainment at age 16 years.
                This is important, because a person’s outcomes in their 20s can be a very good indicator of how their
                later life will turn out.
                It also means that we don’t have to wait 30 or 40 years for one’s full mobility outcomes before we have
                an indication of how their social mobility prospects fare.
            </p>
            <p class="govuk-body">
                Mobility and intermediate outcomes both break outcome measures down by people’s socio-economic background (SEB).
                This can show how different starting points might affect later progress.
            </p>

            <h3 class="govuk-heading-s"
                id="drivers-of-social-mobility">
                Drivers of social mobility
            </h3>
            <p class="govuk-body">
                Drivers are the background conditions that make social mobility easier or more challenging.
                We have included things as drivers if we think they may affect overall social mobility rates.
                For example, the availability of good schools is a driver, because it helps people who would not
                otherwise have had an opportunity to be upwardly mobile.
                Drivers tell us about these nationwide and regional background conditions.
            </p>
            <p class="govuk-body">
                However, drivers do not tell us what the UK’s rates of mobility currently are, and they are not broken
                down by SEB. The question of what is or is not a driver is also distinct from the question of what might
                help someone achieve upward mobility (for example, getting a good degree).
            </p>

            <h2 class="govuk-heading-m"
                id="composite-indices">
                Composite indices
            </h2>
            <p class="govuk-body">
                State of the Nation 2024 includes 4 ‘composite indices’, covering some of our drivers
                and intermediate outcomes. We call them composite indices because they summarise multiple drivers, or
                intermediate outcomes, in one score. They give us a summary of how different geographical areas of the
                UK compare on the main dimensions of mobility that we have identified from the data.
            </p>
            <p class="govuk-body">
                This is useful because the estimates for individual areas often involve sampling errors due to being
                based on sample surveys, and therefore need to be treated with caution. The sample surveys, such as the
                Labour Force Survey (LFS), contain relatively small samples within each area.
                Sample sizes become even smaller when we focus on results for specific age or ethnic groups, as with
                the intermediate outcomes.
            </p>
            <p class="govuk-body">
                The imprecision of the survey-based statistics means that we cannot confidently draw conclusions about
                the differences in outcomes between geographical areas.
                Indeed, very few areas prove to be significantly different from the national average when single
                indicators are used, such as unemployment or earnings.
            </p>
            <p class="govuk-body">
                The composite indices give a summary of how different geographical areas of the UK compare on the main
                dimensions of mobility identified from the data.
                This is useful because there is always a risk that differences between areas in respect of a single
                measure could be due to random sampling errors.
                But when multiple measures all give a similar picture, we can be more confident that there are real
                differences among the areas.
            </p>

            <h2 class="govuk-heading-m"
                id="how-the-data-was-produced">
                How the data was produced
            </h2>
            <p class="govuk-body">
                There are many data sources used to produce our index.
                Some of these, such as the LFS, involve analysing raw individual level data before our indicators can be created.
            </p>
            <p class="govuk-body">
                Other sources, such as the educational attainment statistics from the Department of Education, have
                already been analysed, with the statistics readily available in the public domain.
            </p>
            <p class="govuk-body">
                See our
                <a href="https://www.gov.uk/government/publications/state-of-the-nation-2024-local-to-national-mapping-opportunities-for-all/technical-annex"
                   target="_blank"
                   class="govuk-link">
                    full technical annex on GOV.UK</a>
                 for more details of our main data sources and the methodology of each of our indicators.
            </p>

            <h2 class="govuk-heading-m"
                id="socio-economic-background">
                Socio-economic background
            </h2>
            <p class="govuk-body">
                We define people’s socio-economic background according to the occupation of their highest-earning parent.
                Our occupational classes are based on the National Statistics Socio-Economic Classification (NS-SEC)
                which is the official socio-economic classification of the UK, as set by the Office for National Statistics (ONS).
            </p>
            <p class="govuk-body">
                To simplify our analysis, we have collapsed the 8 classes provided by the ONS into the following 5 categories:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>higher professional (NS-SEC group 1) – examples include CEOs, doctors and engineers</li>
                <li>lower professional (NS-SEC group 2) – examples include teachers, nurses and journalists</li>
                <li>intermediate (NS-SEC groups 3 and 4) – examples include shopkeepers, taxi drivers and roofers</li>
                <li>skilled working class (NS-SEC groups 5 and 6) – examples include mechanics, electricians and housekeepers</li>
                <li>routine working class (NS-SEC groups 7 and 8) – examples include cleaners, porters and waiters</li>
            </ul>

            <h2 class="govuk-heading-m"
                id="intersectional-analysis">
                Intersectional analysis
            </h2>
            <p class="govuk-body">
                For a more detailed picture of how certain groups of the population are experiencing
                social mobility, we split our mobility outcomes and intermediate outcomes by some protected
                characteristics (sex, ethnicity and disability status) and geography where possible.
            </p>

            <h2 class="govuk-heading-m"
                id="geographic-breakdowns">
                Geographic breakdowns
            </h2>
            <p class="govuk-body">
                We have improved our geographical breakdown of the UK for our 4 composite indices.
                We now have 203 ‘upper tier local authority areas’, compared with 41 regions in 2023.
                This increases both granularity and statistical power for investigating why areas differ in their mobility prospects.
                This type of breakdown also aligns more closely with policy responsibilities, since local authorities have
                responsibility for local services, including schools.
            </p>
            <p class="govuk-body">
                As previous work has shown, most local authorities have similar mobility chances for the people who grew
                up in them. Since we are reporting estimates based on survey data, the estimates are not precise enough
                to give a rank order of local authorities. Instead, the main interest is which areas fall into the 2
                distinctive ‘tails’ of the distribution – the local authorities with the most favourable and least
                favourable scores.
            </p>
            <p class="govuk-body">
                We continue to have 5 categories of performance. However, instead of the categories being of equal size
                (see ‘quintiles’, below), we have recognised that most local authorities are very near the average by
                making the middle category larger.
            </p>
            <p class="govuk-body">
                Our main data source, the LFS, does not allow us to distinguish between local authorities in Northern
                Ireland. Because of this, we have to treat Northern Ireland as a single unit. There are also some very
                small local authorities in the LFS, with small sample sizes. In these cases, we cannot be confident
                about their position in the distribution.
            </p>

            <h2 class="govuk-heading-m"
                id="quintiles">
                Quintiles
            </h2>
            <p class="govuk-body">
                We use quintiles in the maps for some of our individual indicators only.
                A quintile represents a fifth (20%) of the population.
                This is calculated by ordering the regions from lowest to highest values (usually percentages) and then
                dividing them into 5 groups of equal size – such as from 1 (lowest) to 5 (highest).
                Each group is called a quintile.
            </p>
            <p class="govuk-body">
                The data shown in our maps is purely descriptive and we are not yet in a position to claim any causal
                effects of regions on outcomes.
                Because these statistics are based on sample surveys, they are affected by sampling error.
            </p>

            <h2 class="govuk-heading-m"
                id="confidence-intervals">
                Confidence intervals
            </h2>
            <p class="govuk-body">
                As the values we show are estimates in most cases, there is some uncertainty over how likely they are
                to reflect the true value in the population.
                We use confidence intervals to represent this degree of uncertainty.
            </p>
            <p class="govuk-body">
                According to the ONS: "A confidence interval gives an indication of the degree of uncertainty of an
                estimate and helps to decide how precise a sample estimate is.
                It specifies a range of values likely to contain the unknown population value.
                These values are defined by lower and upper limits.
                The width of the interval depends on the precision of the estimate and the confidence level used.
                A greater standard error will result in a wider interval; the wider the interval, the less precise the estimate is."
            </p>
            <p class="govuk-body">
                We use 95% confidence intervals in our analysis.
                According to the ONS: "This means that if we took 20 random samples and calculated a 95% confidence
                interval for each sample using the data in that sample, we would expect that, on average, 19 out of the
                20 (95%) resulting confidence intervals would contain the true population value and 1 in 20 (5%) would not.
                If we increased the confidence level to 99%, wider intervals would be obtained."
            </p>
            <p class="govuk-body">
                Read more about confidence intervals on the ONS website:
                <a href="https://www.ons.gov.uk/methodology/methodologytopicsandstatisticalconcepts/uncertaintyandhowwemeasureit"
                   target="_blank"
                   class="govuk-link">
                    Uncertainty and how we measure it for our surveys</a>.
            </p>

            <h2 class="govuk-heading-m"
                id="rounding-rules">
                Rounding rules
            </h2>
            <p class="govuk-body">
                We follow a general rule of rounding upwards to the nearest whole number.
                In some cases, we provide 1 or 2 decimal places when the numbers are small, when the decimal place might
                make a difference to the interpretation, or when we are presenting financial data, such as hourly earnings.
            </p>

        </div>
    </div>
{% endblock %}
