{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Privacy policy
            </h1>
            <p class="govuk-body">
                This page explains what kind of personal information the Government Equalities Office (GEO)
                holds about you when you apply for a State of the Nation using this service.
                It also explains how your personal information is protected and how you can find out about it.
            </p>

            <h2 class="govuk-heading-m">
                What personal information we hold about you
            </h2>
            <p class="govuk-body">
                We hold the following information about you:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>personal details – name, email address, and telephone number</li>
                <li>birth or adoption certificate details</li>
                <li>medical information</li>
                <li>name change documentation</li>
                <li>National Insurance number</li>
            </ul>
            <p class="govuk-body">
                We also hold documents relating to living in your affirmed gender including your:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ID documentation</li>
                <li>passport</li>
                <li>driver’s licence</li>
                <li>utility bills</li>
                <li>payslips</li>
                <li>bank statements</li>
                <li>tax letters</li>
                <li>academic statements</li>
            </ul>

            <h2 class="govuk-heading-m">
                Purpose
            </h2>
            <p class="govuk-body">
                We use your personal data to enable the submission of applications to the Gender Recognition team
                at HMCTS (HM Courts and Tribunals Service).
            </p>

            <h2 class="govuk-heading-m">
                Legal basis of processing
            </h2>
            <p class="govuk-body">
                Processing is necessary for the performance of a task carried out in the public interest or in the
                compliance of legal obligations. In particular:
            </p>
            <p class="govuk-body">
                Allowing the submission of State of the Nation applications to the gender recognition panel.
                This is outlined in the Gender Recognition Act 2004.
            </p>
            <p class="govuk-body">
                Sensitive personal data is personal data about your:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>racial or ethnic origin</li>
                <li>political opinions</li>
                <li>religious or philosophical beliefs</li>
                <li>trade union membership</li>
            </ul>
            <p class="govuk-body">
                It also includes the processing of:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>genetic data, biometric data for the purpose of uniquely identifying a natural person</li>
                <li>data concerning health</li>
                <li>data concerning a natural person's sex life or sexual orientation</li>
            </ul>
            <p class="govuk-body">
                The legal basis for processing your sensitive personal data is necessary for the performance of a task
                carried out in the public interest or in the compliance of legal obligations. As stated above.
            </p>

            <h2 class="govuk-heading-m">
                How long we keep your personal data
            </h2>
            <p class="govuk-body">
                When you begin an application, or return to an existing application you will be sent an email
                with a pin number.
            </p>
            <p class="govuk-body">
                If you do not use the pin to verify your email within 24 hours, you will need to start either
                the application or the log-in again and request a new pin.
            </p>
            <p class="govuk-body">
                After you have started your application, we will keep your personal data for 6 calendar months from the
                date you last signed in. If you do not sign in within 6 calendar months we will permanently delete all
                personal identifiable data. We will warn you 3 months, one month and one week before we delete your data.
            </p>
            <p class="govuk-body">
                After you have submitted your application, it is shared with the HMCTS Gender Recognition administration
                team and permanently deleted from our online system after 7 calendar days.
            </p>
            <p class="govuk-body">
                HMCTS will use your data to process your application and put it to the Gender Recognition panel for review.
                See the
                <a href="https://www.gov.uk/government/publications/hmcts-privacy-policy"
                   target="_blank" class="govuk-link">
                    HMCTS privacy notice (opens in a new tab)
                </a>
                for more information about how they process and hold your information.
            </p>
            <p class="govuk-body">
                There is a separate
                <a href="https://www.payments.service.gov.uk/privacy/"
                   target="_blank" class="govuk-link">
                    privacy notice for GOV.UK Pay (opens in a new tab)</a>,
                the government’s online payment service.
                You will need to use GOV.UK Pay if you pay for your GRC application online.
            </p>

            <h2 class="govuk-heading-m">
                Sharing your information
            </h2>
            <p class="govuk-body">
                When you submit your application, your data will be shared with the HMCTS Gender Recognition
                administration team. They require a secure login to access the data. The data is not shared with any
                third parties or government departments, agencies or arms-length bodies.
            </p>
            <p class="govuk-body">
                Throughout the application process, information is shared with our email provider (GOV.UK Notify) and
                stored in our hosting provider (GOV.UK Platform as a Service) where this is needed to process your
                application. It is also shared with our hosting suppliers and third-party IT support companies for the
                purposes of managing the site.
            </p>
            <p class="govuk-body">
                There are some cases when your information can be shared for other reasons – for example, to prevent
                crime, respond to legal obligations or cooperate with public inquiries.
            </p>

            <h2 class="govuk-heading-m">
                Your rights
            </h2>
            <p class="govuk-body">
                You can ask to see and correct the personal information we hold about you.
                You can do this by logging into your application.
            </p>
            <p class="govuk-body">
                In certain circumstances, you may also object to or restrict the processing of your data by GEO
                by making a request to
                <a href="mailto:grc-requests@cabinetoffice.gov.uk" class="govuk-link">
                    grc-requests@cabinetoffice.gov.uk
                </a>
            </p>
            <p class="govuk-body">
                After you have submitted your application, you will no longer be able to log in to access the
                ‘apply for a State of the Nation’ service.
            </p>
            <p class="govuk-body">
                To ask for your data to be amended or deleted, email:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="mailto:grc-service-account@cabinetoffice.gov.uk" class="govuk-link">
                        grc-service-account@cabinetoffice.gov.uk
                    </a>
                    if it’s within 7 calendar days of you submitting your application
                </li>
                <li>
                    <a href="mailto:GRPenquiries@justice.gov.uk" class="govuk-link">
                        GRPenquiries@justice.gov.uk
                    </a>
                    after this time
                </li>
            </ul>

            <h2 class="govuk-heading-m">
                Preparation of this privacy notice
            </h2>
            <p class="govuk-body">
                This privacy notice was first published on 28 June 2022.
            </p>
            <p class="govuk-body">
                We have carried out a data protection impact assessment. We will use the impact assessment to keep track
                of any changes to the way your personal data is processed, and will update this notice if any changes arise.
            </p>

            <h2 class="govuk-heading-m">
                Contact Details
            </h2>
            <p class="govuk-body">
                The data controller for your personal data is HM Courts and Tribunals Service.
            </p>
            <p class="govuk-body">
                The contact details for the data controller are:
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                The Data Protection Officer<br>
                Ministry of Justice<br>
                3rd Floor, Post Point 3.20<br>
                10 South Colonnade<br>
                Canary Wharf<br>
                London E14 4PU<br>
                <a href="mailto:DPO@justice.gov.uk" class="govuk-link">
                    DPO@justice.gov.uk
                </a>
            </p>

            <h2 class="govuk-heading-m">
                How to make a complaint
            </h2>
            <p class="govuk-body">
                When we ask you for information, we will keep to the law. If you consider that your information has
                been handled incorrectly, you can contact the Information Commissioner for independent advice about
                data protection.
            </p>
            <p class="govuk-body">
                You can contact the Information Commissioner at:
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                Information Commissioner’s Office<br>
                Wycliffe House<br>
                Water Lane<br>
                Wilmslow<br>
                Cheshire SK9 5AF<br>
                <a href="tel:03031231113" class="govuk-link">
                    0303 123 1113
                </a><br>
                <a href="https://ico.org.uk/"
                   target="_blank" class="govuk-link">
                    Information Commissioner’s Office website (opens in a new tab)
                </a>
            </p>

        </div>
    </div>
{% endblock %}
