{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Privacy policy: how your data is used and protected
            </h1>
            <p class="govuk-body">The Social Mobility Commission data explorer website is built and run by the Equality Hub, which is part of the Cabinet Office. We collect the following personal data:</p>

<ul class="govuk-list govuk-list--bullet">
                <li>cookies when you use the website – cookies help us understand how you use the website so we can make improvements, and we do not use cookies to identify you personally</li></ul>

          <p class="govuk-body">You can read more about <a href="/cookies" class=govuk-link>how we use cookies</a> to track user journeys using Google Analytics.</p>

    <h2 class="govuk-heading-m">The law and your rights</h2>
            <p class="govuk-body">Your data is processed under Article 13 of the General Data Protection Regulation.</p>
            <p class="govuk-body">You have the right to withdraw your consent to us keeping and using your data at any time.</p>
            <p class="govuk-body">You also have the right to ask for:</p>

<ul class="govuk-list govuk-list--bullet">
                <li>information about how your email address and/or name are processed</li>
    <li>a copy of all the personal data you’ve given to us, including in an electronic format if desired</li>
    <li>any mistakes in your personal data to be corrected</li>
    <li>your personal data to be deleted if we no longer need it</li></ul>

 

            <h2 class="govuk-heading-m">How to contact us</h2>
          
            <p class="govuk-body">The body formally responsible for your data, known as the ‘data controller’, is the Cabinet Office. Contact details are as follows:</p>
          
<p class="govuk-body">Cabinet Office<br>
70 Whitehall<br>
London<br>
SW1A 2AS<br>
<a href="mailto:publiccorrespondence@cabinetoffice.gov.uk" class="govuk-link">publiccorrespondence@cabinetoffice.gov.uk</a><br>
0207 276 1234</p>

          <p class="govuk-body">You can also contact the Data Protection Officer if you have any concerns about how your data is being used.</p>


<p class="govuk-body">Data Protection Officer<br>
Cabinet Office<br>
70 Whitehall<br>
London<br>
SW1A 2AS<br>
<a href="mailto:dpo@cabinetoffice.gov.uk" class="govuk-link">dpo@cabinetoffice.gov.uk</a></p>

            <h2 class="govuk-heading-m">
                How to make a complaint
            </h2>
            <p class="govuk-body">
                When we ask you for information, we will keep to the law. If you consider that your information has
                been handled incorrectly, you can contact the Information Commissioner for independent advice about
                data protection.
            </p>
            <p class="govuk-body">
                You can contact the Information Commissioner at:
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                Information Commissioner’s Office<br>
                Wycliffe House<br>
                Water Lane<br>
                Wilmslow<br>
                Cheshire SK9 5AF<br>
                0303 123 1113<br>
                <a href="https://ico.org.uk/"
                   target="_blank" class="govuk-link">
                    Information Commissioner’s Office website (opens in a new tab)
                </a>
            </p>

        </div>
    </div>
  </main>
    </div>

{% endblock %}
