venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
node_modules
instance/config.py
*.py.txt

# Developer-specific settings
.vscode/settings.json
.idea

# Secrets
.env
.admin.env
*.py.txt
.vscode/settings.json
.unotes/*
Notes/*
notes/*
*notes.txt
.DS_Store
*.csv
api/lambdas/awslambda-psycopg2
