{% macro mobilemenu(menu, selected) %}
    <div id="mobile-nav" aria-labelledby="mobile-nav-button" class="mobile-navigation" hidden="">
        <nav role="navigation" class="moj-side-navigation moj-side-navigation-mobile" aria-label="Mobile navigation">
            <ul class="moj-side-navigation__list collapsible">
                <li class="moj-side-navigation__item moj-side-navigation__item--active is-open">
                    <a href="#">Mobility outcomes</a>
                    <span class="collapsible__toggle-icon"></span>
                    <ul class="moj-side-navigation__list">
                        <li class="moj-side-navigation__item is-open">
                            <a href="#">Education</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute educational mobility in UK</a>
                                </li>
                                <li class="moj-side-navigation__item is-active">
                                    <a href="#">Relative absolute mobility in UK</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute educational mobility - OECD comparison</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative educational mobility - OECD comparison</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item  moj-side-navigation__item--active">
                            <a href="#">Housing</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute housing mobility - LFS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative housing mobility - LFS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute housing mobility - LS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative housing mobility - LS</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">Income</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative income mobility - Rank-rank correlation - UKLHS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative income mobility - Intergenerational elasticity - UKLHS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative income mobility - Rank-rank correlation - LEO</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative income mobility - Intergenerational elasticity - LEO</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">Occupation</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute occupational mobility - LFS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative occupational mobility - LFS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute occupational mobility - LS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative occupational mobility - LS</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute occupational mobility - Birth cohort studies</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative occupational mobility - Birth cohort studies</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute occupational mobility - International comparison</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative occupational mobility - International comparison</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">Wealth</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Absolute income mobility</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Relative wealth mobility</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="moj-side-navigation__item">
                    <a href="#">Age-related outcomes</a>
                    <span class="collapsible__toggle-icon"></span>
                    <ul class="moj-side-navigation__list">
                        <li class="moj-side-navigation__item">
                            <a href="#">5 to 16 years</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Level of development at age 5</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Attainment at age 11</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Attainment at 16</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Skills at 15</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">16 to 24 years</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Destinations following the end of compulsory full-time schooling</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Entry to higher education</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Highest qualification by age 25</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Skills in early adulthood</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">25 to 29 years</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Economic activity</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Unemployment</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Occupational level</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Earnings</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Returns to education</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">35 to 44 years</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Acquisition of further training and qualifications</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Occupational progression</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Income progression</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Class pay gap</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="#">Drivers of mobility</a>
                    <span class="collapsible__toggle-icon"></span>
                    <ul class="moj-side-navigation__list">
                        <li class="moj-side-navigation__item">
                            <a href="#">Education opportunities</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Opportunities for post-16 further education and training</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Availability of high-quality school education</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Opportunities for access to higher education</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Availability of high-quality higher education</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">Family inequality</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Economic inequality between families with school-age children</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Childhood poverty</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Cultural inequality between families with school-age children</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Class inequality between families with school-age children</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Inequalities in child-rearing</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">Social connections</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Civic engagement</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Environment conducive to entrepreneurship</a>
                                </li>
                            </ul>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#">Work opportunities for young people</a>
                            <span class="collapsible__toggle-icon"></span>
                            <ul class="moj-side-navigation__list">
                                <li class="moj-side-navigation__item">
                                    <a href="#">Vacancy rate at entry level</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Youth unemployment</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Type of employment taken by young people</a>
                                </li>
                                <li class="moj-side-navigation__item">
                                    <a href="#">Median earnings of young people</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <!--<h4 class="moj-side-navigation__title">Pages</h4>-->
                    <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-section-break--visible">
                </li>
                <li class="moj-side-navigation__item"><a href="#" class="secondary-nav">Background</a></li>
                <li class="moj-side-navigation__item"><a href="#" class="secondary-nav">About our analysis</a></li>
            </ul>
        </nav>
    </div>
{% endmacro %}
