
{% macro universities_sidebar(path) %}
    <nav role="navigation"
         aria-label="Find an area"
         class="moj-side-navigation govuk-!-padding-right-4 govuk-!-padding-top-0"
         style="display: block; margin-top: 10px">

        {% if (path == '/universities') or (path.startswith('/universities/by-university')) %}
            <h2 class="govuk-heading-m">
                Find a university
            </h2>

            <div class="govuk-form-group" role="search">
                <h3 class="govuk-label-wrapper">
                    <label for="universities-search"
                           class="govuk-label govuk-label--s">
                        Search by name
                    </label>
                </h3>
                <div id="universities-search-hint" class="govuk-hint govuk-!-font-size-16">
                    Search by one of
                    <a href="{{ url_for('universities.index') }}#benchmarks-by-university"
                       class="govuk-link"
                    style="font-size: 1rem;">
                        94 universities</a>.
                    <br>
                    Start typing a university name to see a list of matching universities below
                </div>
                <div class="govuk-!-margin-bottom-2" style="display: flex;">
                    <input type="text"
                           id="universities-search"
                           class="govuk-input govuk-input--width-10"
                           spellcheck="false"
                           aria-describedby="universities-search-hint"
                           role="searchbox">
                </div>

                <ul id="universities-search-results"
                    class="moj-side-navigation__list none-collapsible"
                    style="display: block;"
                    aria-live="polite">
                </ul>
            </div>
        {% endif %}

        {% if path.startswith('/universities/rankings') %}
            <h2 class="govuk-heading-m">
                Rankings
            </h2>
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='equal-access-ranking') }}">
                        Equal access
                    </a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='social-mobility-coefficient') }}">
                        Social mobility coefficient
                    </a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='social-mobility-coefficient-with-location-weighting') }}">
                        Social mobility coefficient (location-adjusted)
                    </a>
                </li>
            </ul>
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-section-break--visible">
        <ul class="govuk-!-font-size-14 govuk-!-margin-left-0 govuk-!-font-size-14 govuk-!-margin-left-0 moj-side-navigation__list">
            <li class="moj-side-navigation__item">
                <a href="#">
                    Read the summary and technical report here
                </a>
            </li>
            <li class="moj-side-navigation__item">
                <a href="{{ url_for('universities.about_the_data') }}">
                    About the data
                </a>
            </li>
        </ul>
    </nav>

    {% if (path == '/universities') or (path.startswith('/universities/by-university')) %}
        <script>
            (async function() {
                const universitiesSearchInput = document.getElementById('universities-search');
                const universitiesSearchResults = document.getElementById('universities-search-results');

                //////////////////////////////
                // UNIVERSITIES NAME SEARCH
                universitiesSearchInput.addEventListener('input', async function (event) {
                    universitiesSearchResults.innerHTML = '';

                    const searchText = universitiesSearchInput.value.trim().toLowerCase();
                    const matchingUniversities = universitiesNamesAndCodes['universities'].filter((university) => university.university_name.toLowerCase().includes(searchText));
                    if (matchingUniversities.length <= 20) {
                        matchingUniversities.forEach((matchingUniversity) => {
                            const new_li = document.createElement('li');
                            new_li.classList.add('moj-side-navigation__item');

                            const new_a = document.createElement('a');
                            new_a.href = `/universities/by-university/${matchingUniversity.university_slug}`;
                            new_a.classList.add('moj-primary-navigation__link');

                            const lowercaseUniversityName = matchingUniversity.university_name.toLowerCase();
                            const originalCaseUniversityName = matchingUniversity.university_name;
                            let lastIndex = -1
                            let nextIndex = -1;
                            while ((nextIndex = lowercaseUniversityName.indexOf(searchText, lastIndex + 1)) !== -1) {
                                const textBeforeStartPosition = lastIndex === -1 ? 0 : lastIndex + searchText.length;
                                const textBeforeFind = originalCaseUniversityName.substring(textBeforeStartPosition, nextIndex);
                                const new_span = document.createElement('span');
                                new_span.innerText = textBeforeFind;
                                new_a.appendChild(new_span);

                                const textFound = originalCaseUniversityName.substring(nextIndex, nextIndex + searchText.length);
                                const new_b = document.createElement('b');
                                new_b.innerText = textFound;
                                new_a.appendChild(new_b);

                                lastIndex = nextIndex;
                            }
                            const textAfterFind = originalCaseUniversityName.substring(lastIndex + searchText.length);
                            const new_span = document.createElement('span');
                            new_span.innerText = textAfterFind;
                            new_a.appendChild(new_span);

                            new_li.appendChild(new_a);
                            universitiesSearchResults.appendChild(new_li);
                        })
                    }
                })

                //////////////////////////////////////
                // Load list of universities JSON file
                const universityCodesUrl = '/static/data/by-page/universities/universities.json';
                const universityCodesResponse = await fetch(universityCodesUrl);
                if (!universityCodesResponse.ok) {
                    // Cannot load region list - don't show search bar
                    return;
                }
                const universitiesNamesAndCodes = await universityCodesResponse.json();

            })();
        </script>
    {% endif %}
{% endmacro %}
