// Pattern: flash cards
// Problem: interupt the user with important information

.interuption-card {
  background: govuk-colour("blue");
  color: govuk-colour("white");
  @include govuk-responsive-padding(8);
  @include govuk-responsive-margin(8, bottom);

  h1, h2, h3, h4, p, ul, ol {
    color: govuk-colour("white");
  }

  .govuk-inset-text, .govuk-details__text {
    border-color: govuk-colour("white");
  }

  h1:first-of-type {
    margin-top: 0 !important;
  }

  .govuk-caption-xl {
    color: #eee;
  }

  h2 {
    margin: 30px 0 5px 0;
  }

  p, li {
    max-width: 600px;
  }

  .govuk-list p {
    margin-left: 35px;
  }

  a {
    color: govuk-colour("white");
    font-weight: bold;

    &:visited, &:hover, &:active {
      color: govuk-colour("white"); }
  }

  details {
    margin-bottom: 0;

    summary, summary:hover {
      color: govuk-colour("white");
    }

    .panel {
      border-left-color: govuk-colour("white");
    }
  }

  .govuk-button {
    color: govuk-colour("blue");
    background-color: govuk-colour("white");
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: govuk-colour("blue");
      background-color: govuk-colour("white");
    }

    &:hover, &:active {
      color: govuk-colour("blue");
      background-color: #eee;
      text-decoration: none;
    }
  }


  .doc-icon:before {
    content: '';
    width: 20px;
    height: 30px;
    margin-right: 15px;
    position: relative;
    top: 6px;
    display: inline-block;
    background: govuk-colour("white");
    box-shadow: 2px  2px 0 govuk-colour("blue"),
                4px 4px 0 govuk-colour("white");
  }
}


.circle {
  display: inline-block;
  border-radius: 50%;
  background: govuk-colour("black");
  color: govuk-colour("white");
  font-family: "ntatabularnumbers","nta",Arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.circle-step {
  min-width: 25px;
  min-height: 25px;
  line-height: 25px;
  float: left;
  margin-right: 10px;
}

.circle-white {
  color: govuk-colour("blue");
  background: govuk-colour("white");
}
