{% extends 'base.html' %}
{% block title %}Social Mobility Commission{% endblock %}

{% block backLink %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">
            State of the Nation 2023: data about social mobility in the UK
        </h1>

        <p class="govuk-body">
            State of the Nation is an annual report into social mobility in the UK. It uses original data and analysis from ​​the Social Mobility Commission (SMC).
        </p>

        <p class="govuk-body">
            State of the Nation uses the SMC’s own measurement framework, the <span class="govuk-!-font-weight-bold">Social Mobility Index</span>. This looks at:
        </p>

        <ul class="govuk-body">
            <li><a href="/mobility_outcomes" class="govuk-link">mobility outcomes</a> – looking backwards</li>
            <li><a href="/intermediate_outcomes" class="govuk-link">intermediate outcomes</a> – looking at the present</li>
            <li><a href="/drivers_of_mobility" class="govuk-link">drivers of social mobility</a> – looking at the future</li>
        </ul>

        <h3 class="govuk-heading-s">
            What you can do on this site
        </h3>

        <p class="govuk-body">
            You can explore and download data by different breakdowns, such as region, sex and ethnicity.
        </p>

        <h3 class="govuk-heading-s">
            See data by topic
        </h3>

        <div class="grid grid3">
            <a href="/mobility_outcomes">
                <div class="govuk-body">
                    <p class="govuk-!-font-weight-bold">Mobility outcomes</p>
                    <p>People’s income, education, housing and class in their 40s and 50s, compared with their parents.</p>
                </div>
            </a>
            <a href="/intermediate_outcomes">
                <div class="govuk-body">
                    <p class="govuk-!-font-weight-bold">Age-related outcomes</p>
                    <p>The experiences of young people as they move through education and into the labour market.</p>
                </div>
            </a>
            <a href="/drivers_of_mobility">
                <div class="govuk-body">
                    <p class="govuk-!-font-weight-bold">Driver of social mobility</p>
                    <p>The background conditions that make social mobility easier.</p>
                </div>
            </a>
        </div>

        <h3 class="govuk-heading-s">
            Highlighted content
        </h3>

        <div class="grid grid3">
            <div class="govuk-body">
                <p class="govuk-!-font-weight-bold">Occupational mobility</p>
                <div id="chart1"></div>
                <script>
                    new Chart(
                        'chart1',
                        `${location.protocol}//${location.host}/static/data/indicators/DR23a_overview-20230417.csv`,
                        { "data": "/static/data/indicators/DR23a_overview-20230417.csv", "width": 260, "height": 180, "title": "", "type": "liney", "xkey": "Time_period", "ykey": "Value", "zkey": "Area_name", "sort": "Time_period", "xgrid": false, "ygrid": true, "xticks": 3, "yticks": 3, "legend": false, "rotateDomainLabels": false, "colourScheme": ["#5694ca", "#d4351c", "#4c2c92", "#d53880", "#28a197", "#b58840", "#505a5f", "#f499be", "#85994b", "#6f72af"], "margin": [0, 0, 0, 0], "fontFamily": "GDS Transport", "fontSize": "15px", "backgroundColor": "transparent" }
                    )
                </script>
            </div>
            <div class="govuk-body">
                <p class="govuk-!-font-weight-bold">Young people who are NEET</p>
                <div id="chart2"></div>
                <script>
                    new Chart(
                        'chart2',
                        `${location.protocol}//${location.host}/static/data/indicators/DR23a_overview-20230417.csv`,
                        { "data": "/static/data/indicators/DR23a_overview-20230417.csv", "width": 260, "height": 180, "title": "", "type": "bary", "xkey": "Time_period", "ykey": "Value", "zkey": "Area_name", "sort": "Time_period", "xgrid": false, "ygrid": true, "xticks": 3, "yticks": 3, "legend": false, "rotateDomainLabels": true, "colourScheme": ["#5694ca", "#d4351c", "#4c2c92", "#d53880", "#28a197", "#b58840", "#505a5f", "#f499be", "#85994b", "#6f72af"], "margin": [0, 0, 0, 0], "fontFamily": "GDS Transport", "fontSize": "15px", "backgroundColor": "transparent" }
                    )
                </script>
            </div>
            <div class="govuk-body">
                <p class="govuk-!-font-weight-bold">Pupil attainment compared internationally</p>
                <div id="chart3"></div>
                <script>
                    new Chart(
                        'chart3',
                        `${location.protocol}//${location.host}/static/data/indicators/DR23a_overview-20230417.csv`,
                        { "data": "/static/data/indicators/DR23a_overview-20230417.csv", "width": 260, "height": 180, "title": "", "type": "liney", "xkey": "Time_period", "ykey": "Value", "zkey": "Area_name", "sort": "Time_period", "xgrid": false, "ygrid": true, "xticks": 3, "yticks": 3, "legend": false, "rotateDomainLabels": false, "colourScheme": ["#5694ca", "#d4351c", "#4c2c92", "#d53880", "#28a197", "#b58840", "#505a5f", "#f499be", "#85994b", "#6f72af"], "margin": [0, 0, 0, 0], "fontFamily": "GDS Transport", "fontSize": "15px", "backgroundColor": "transparent" }
                    )
                </script>
            </div>
        </div>

        <p class="govuk-body">
            Read the <a href="#" class="govuk-link">full State of the Nation 2023 report</a> on GOV.UK.
        </p>
    </div>
</div>
{% endblock %}