.chart-container {
    display: block;
    width: 100%;
    height: 100%;
}

div.chart {
    position: relative;
    display: inline-block;
}

div.chart div {
    width: 100%;
    height: 100%;
}
div.chart svg * {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

div.chart svg g[aria-label="y-axis tick"] {
    visibility: hidden;
}

div.chart svg.line path.plot-item, div.chart svg.liney path.plot-item {
    stroke-width: 5px;
}

div.chart svg line.plot-item.confidence-interval, div.chart svg text.plot-item.confidence-interval {
    visibility: hidden;
}

div.chart svg.highlight-ci line.plot-item.confidence-interval, div.chart svg.highlight-ci text.plot-item.confidence-interval {
    visibility: visible;
}

span.confidence-interval {
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
    white-space: nowrap;
}

span.confidence-interval > input {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

span.confidence-interval > input, span.confidence-interval > label {
    white-space: nowrap;
    cursor: pointer;
}

div.chart svg.line marker circle, div.chart svg.liney marker circle {
    stroke-width: 0px;
    scale: 0.5;
}

div.chart svg.outline rect.highlight {
    stroke: red;
    stroke-width: 3;
}

div.chart div.links {
    margin-top: 10px;
    height: auto;
    text-align: right;
}

div.chart figure {
    margin-block: 0;
    margin-inline: 0;
}

div.chart g.tick line {
    stroke-dasharray: 2 5;
}

div.chart figure div {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    font-family: 'GDS Transport';
    font-size: 18px;
}
