.map-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    _height: 629px;
    background: white;
    /*border: 1px solid #000;*/
    overflow: hidden;
}

.map-container svg {
    overflow: visible;
}

.map-container svg g path {
    cursor: grab;
}

.map-container svg g path[data-colour="grey"] {
    opacity: 0.5;
}

.map-container .map-legend, .map-container .map-tooltip, .map-container .map-controls {
    position: absolute;
    padding: 10px 10px 5px 10px;
    background: #fff;
    border: 1px solid #000;
    font-family: "GDS Transport",arial,sans-serif;
    z-index: 10;
}

.map-container .map-legend {
    bottom: 10px;
    right: 10px;
}

.map-legend {
    height: auto;
    overflow: hidden;
}

.map-legend > p {
    cursor: pointer;
}

.map-container .map-tooltip {
    bottom: 10px;
    left: 10px;
    visibility: hidden;
}

.map-container .map-tooltip h2 {
    margin-top: 10px;
}

.map-container .map-controls {
    top: 10px;
    right: 10px;
    width: 35px;
    padding: 0;
    background: none;
    border: none;
}

.map-container .map-controls button {
    display: block;
    width: 100%;
    height: 35px;
    border: 1px solid #aaa;
    font-weight: 700;
    font-size: 20px;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

.map-container .map-controls button:first-child {
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.map-container .map-controls button:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.map {
    width: 100%;
    _height: 630px;
    overflow: visible;
    position: relative;
}

.map .layer {
    position: absolute;
    will-change: transform;
}

.map .tile {
    position: absolute;
    width: 256px;
    height: 256px;
}

.map .tile path {
    fill: none;
    stroke: #000;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.map .tile .major_road {
    stroke: #776;
}

.map .tile .minor_road {
    stroke: #ccb;
}

.map .tile .highway {
    stroke: #f39;
    stroke-width: 1.5px;
}

.map .tile .rail {
    stroke: #7de;
}

.map .tile .water, .map .tile .river, .map .tile .riverbank, .map .tile .fountain, .map .tile .ocean, .map .tile .stream, .map .tile .lake, .map .tile .basin, .map .tile .dock {
    stroke: #7de;
    fill: #7de;
}

.map .info {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.map svg g.outlines path {
    stroke: red;
    stroke-width: 2;
}

.map svg.zoom1 g.outlines path {
    stroke-width: 2;
}

.map svg.zoom2 g.outlines path {
    stroke-width: 1.9;
}

.map svg.zoom3 g.outlines path {
    stroke-width: 1.8;
}

.map svg.zoom4 g.outlines path {
    stroke-width: 1.7;
}

.map svg.zoom5 g.outlines path {
    stroke-width: 1.6;
}

.map svg.zoom6 g.outlines path {
    stroke-width: 1.5;
}

.map svg.zoom7 g.outlines path {
    stroke-width: 1.4;
}

.map svg.zoom8 g.outlines path {
    stroke-width: 1.3;
}

.map svg.zoom9 g.outlines path {
    stroke-width: 1.2;
}

.map svg.zoom10 g.outlines path {
    stroke-width: 1.1;
}

.map svg.zoom11 g.outlines path {
    stroke-width: 1;
}

.map svg.zoom12 g.outlines path {
    stroke-width: 0.9;
}

.map svg.zoom13 g.outlines path {
    stroke-width: 0.8;
}

.map svg.zoom14 g.outlines path {
    stroke-width: 0.7;
}

.map svg.zoom15 g.outlines path {
    stroke-width: 0.6;
}

.map .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    fill: #000;
    stroke: #fff;
    paint-order: stroke fill;
}

svg.zoom1 .label {
    display: none;
    font-size: 0.6rem;
    stroke-width: 1px;
}

svg.zoom2 .label {
    display: none;
    font-size: 0.4rem;
    stroke-width: 0.8px;
}

svg.zoom3 .label {
    display: none;
    font-size: 0.3rem;
    stroke-width: 0.7px;
}

svg.zoom4 .label {
    display: none;
    font-size: 0.2rem;
    stroke-width: 0.5px;
}

svg.zoom5 .label {
    display: none;
    font-size: 0.15rem;
    stroke-width: 0.4px;
}

svg.zoom6 .label {
    display: none;
    font-size: 0.15rem;
    stroke-width: 0.4px;
}

svg.zoom7 .label {
    display: none;
    font-size: 0.12rem;
    stroke-width: 0.3px;
}

svg.zoom8 .label {
    display: none;
    font-size: 0.11rem;
    stroke-width: 0.2px;
}

svg.zoom9 .label {
    display: none;
    font-size: 6px;
}

svg.zoom10 .label {
    display: none;
    font-size: 5px;
}

svg.zoom11 .label {
    display: none;
    font-size: 5px;
}

svg.zoom12 .label {
    display: none;
    font-size: 4px;
}

svg.zoom13 .label {
    display: none;
    font-size: 4px;
}

svg.zoom14 .label {
    display: none;
    font-size: 3px;
}

svg.zoom15 .label {
    display: none;
    font-size: 3px;
}

svg.zoom1 .label.zoom1,
svg.zoom2 .label.zoom2,
svg.zoom3 .label.zoom3,
svg.zoom4 .label.zoom4,
svg.zoom5 .label.zoom5,
svg.zoom6 .label.zoom6,
svg.zoom7 .label.zoom7,
svg.zoom8 .label.zoom8,
svg.zoom9 .label.zoom9,
svg.zoom10 .label.zoom10,
svg.zoom11 .label.zoom11,
svg.zoom12 .label.zoom12,
svg.zoom13 .label.zoom13,
svg.zoom14 .label.zoom14,
svg.zoom15 .label.zoom15 {
    display: inline;
}

.label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label_state {
    display: inline !important;
    font-weight: bold;
    fill: #ccc;
}
