{% extends 'base.html' %}
{% from 'components/chart.html' import chart %}
{% from 'components/map.html' import map %}
{% set ns = namespace(counter1=0, counter2=0) %}
{% block title %}Demo{% endblock %}

{% block backLink %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-grid-row-full-width">
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ [content, 'Summary'] | content }}</p>

    {% for item in content %}
    {% if item[0] == 'Section' %}
    <a href="#{{ item[1] | safe }}" class="govuk-link" style="display: block;">{{ item[1] | safe }}</a>
    {% endif %}
    {% endfor %}

    {% if tabs %}
    <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            {% set ns.counter1 = 0 %}
            {% for item in content %}
            {% if item[0] == 'Tab' %}
            <li class="govuk-tabs__list-item govuk-tabs__list-item{% if ns.counter1 == 0 %}--selected{% endif %}">
                <a class="govuk-tabs__tab" href="#tab-{{ ns.counter1 }}" onclick="javascript:;">
                    {{ [item, 'Title'] | content }}
                </a>
            </li>
            {% set ns.counter1 = ns.counter1 + 1 %}
            {% endif %}
            {% endfor %}
        </ul>

        {% set ns.counter1 = 0 %}
        {% set ns.counter2 = 0 %}
        {% for item in content %}
        {% if item[0] == 'Tab' %}
        <div class="govuk-tabs__panel{% if ns.counter1 == 0 %} govuk-tabs__panel--hidden{% endif %}" id="tab-{{ ns.counter1 }}">
            <h2 class="govuk-heading-l">{{ [item, 'Title'] | content }}</h2>

            {% for subitem in item[1] %}
            {% if subitem[0] == 'Subtitle' %}
            <h4 class="govuk-heading-s">{{ subitem[1] | safe }}</h4>
            {% endif %}

            {% if subitem[0] == 'Chart' %}
            <div style="height: 500px;">
                {{ chart(ns.counter2, subitem[1]) }}
            </div>
            {% endif %}

            {% if subitem[0] == 'Map' %}
            <h3 class="govuk-heading-s">{{ [subitem[1], 'title'] | attribute | safe }}</h3>
            <div class="grid grid2">
                <div>
                    {{ map(ns.counter2, subitem[1]) }}
                </div>
                <div>
                    {{ chart(ns.counter2, subitem[1]) }}
                </div>
            </div>
            <script>
                function mapselect(a) {
                    if (typeof a !== 'undefined') {
                        document.getElementById('map_legend{{ ns.counter2 }}').innerText = `${a.name}: ${a.value}`
                        document.getElementById('map_marker{{ ns.counter2 }}').style.marginLeft = `calc(${parseInt(a.rank.split('/')[0], 10) / parseInt(a.rank.split('/')[1], 10) * 100}% - 15px)`
                        map{{ ns.counter2 }}.highlight(a.name)
                        chart{{ ns.counter2 }}.highlight(a.name)
                    } else {
                        map{{ ns.counter2 }}.resetHighlight()
                        chart{{ ns.counter2 }}.resetHighlight()
                    }
                }
            </script>
            {% endif %}

            {% if subitem[0] == 'Text' %}
            <p class="govuk-body">{{ subitem[1] | safe }}</p>
            {% endif %}
            {% set ns.counter2 = ns.counter2 + 1 %}
            {% endfor %}
        </div>
        {% set ns.counter1 = ns.counter1 + 1 %}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% for item in content %}
    {% if item[0] not in ['Title', 'Summary', 'Tab'] %}

    {% if item[0] == 'Section' %}
    <hr>
    <a name="{{ item[1] | safe }}"></a>
    {% endif %}

    {% if item[0] == 'Subtitle' %}
    <h3 class="govuk-heading-m">{{ item[1] | safe }}</h3>
    {% endif %}

    {% if item[0] == 'Text' %}
    <p class="govuk-body">{{ item[1] | safe }}</p>
    {% endif %}

    {% if item[0] == 'Chart' %}
    <div style="max-width: 775px;">
        {{ chart(ns.counter1, item[1]) }}
    </div>
    {% endif %}

    {% if item[0] == 'Grid' %}
    <div class="grid" style="max-width: 775px;">
        {% for subitem in item[1] %}
        {% if subitem[0] == 'Chart' %}
        <div style="height: 500px;">
            {{ chart(ns.counter2, subitem[1]) }}
        </div>
        {% endif %}
        {% set ns.counter2 = ns.counter2 + 1 %}
        {% endfor %}
    </div>
    {% endif %}

    {% set ns.counter1 = ns.counter1 + 1 %}
    {% endif %}
    {% endfor %}
</div>
<script>
    (function() {
/*
https://socialmobilityworks.org/
https://medium.com/government-equalities
https://leadersaschangeagents.com/
https://government-equalities-office.shinyapps.io/lgbt-survey-2017/
https://www.womensbusinesscouncil.co.uk/
https://cred.independent-commission.uk/
New website for SMC
*/
    })()
</script>
{% endblock %}
