{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% set compositeIndexCircleColours = ["#ca0020", "#f4a582", "#ffffbf", "#92c5de", "#0571b0"] %}

    <div id="maincontent" class="govuk-grid-row govuk-grid-row-full-width">
        <div class="grid grid2">
            <div>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                    {{ title }}
                </h1>
                <p class="govuk-body govuk-body-s govuk-!-margin-bottom-7">
                    Published: 31 December 9999 <!-- TODO replace this date (9999-12-31) -->
                </p>

                <p class="govuk-body">
                    This page shows how {{ title }} is classified for 4 measures of social mobility.
                </p>
                <p class="govuk-body govuk-!-padding-bottom-3">
                    {{ title }} is in the:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        {{ row_for_region['promising_prospects_group_name'] }}
                        group of areas for
                        <a href="/intermediate_outcomes/composite_indices/promising_prospects/latest"
                           class="govuk-link">
                            Promising prospects</a>
                    </li>
                    <li>
                        {{ row_for_region['childhood_conditions_group_name'] }}
                        group for
                        <a href="/drivers_of_social_mobility/composite_indices/childhood_conditions/latest"
                           class="govuk-link">
                            Childhood conditions</a>
                    </li>
                    <li>
                        {{ row_for_region['labour_market_opportunities_group_name'] }}
                        group for
                        <a href="/drivers_of_social_mobility/composite_indices/labour_market_opportunities/latest"
                           class="govuk-link">
                            Labour market opportunities</a>
                    </li>
                    <li>
                        {{ row_for_region['innovation_and_growth_group_name'] }}
                        group for
                        <a href="/drivers_of_social_mobility/composite_indices/innovation_and_growth/latest"
                           class="govuk-link">
                            Innovation and growth</a>
                    </li>
                </ul>

                <h2 class="govuk-heading-l">
                    About the data
                </h2>
                <p class="govuk-body">
                    Each measure of social mobility combines data from multiple indicators into a single ‘composite’ score.
                    This helps to give a more reliable picture of geographical mobility patterns than individual indicators.
                </p>
                <p class="govuk-body">
                    For each measure (for example, ‘Innovation and growth’),
                    <a href="/social_mobility_by_area/latest#list-of-uk-regions"
                       class="govuk-link">
                        203 local authorities in the UK</a>
                    are classified according to their composite scores.
                    The following labels show how each area is assessed for different aspects of social mobility:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>most favourable</li>
                    <li>favourable</li>
                    <li>middle group</li>
                    <li>unfavourable</li>
                    <li>least favourable</li>
                </ul>
                <p class="govuk-body">
                    The groups are not equally sized – the middle group is larger because most local authorities are very near the average.
                </p>
            </div>
            <div>
                <div class="map-container">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="page-history">
        Page history
    </h2>

    <h3 class="govuk-heading-s">
        Publication release date:
    </h3>
    <p class="govuk-body">
        31 December 9999 <!-- TODO replace this date (9999-12-31) -->
    </p>

    <p class="govuk-body">
        In 2023, we published data for 41 regions.
        <br>
        You can see these on the
        <a href="/social_mobility_by_area/1.0#the-41-regions"
           class="govuk-link">
           Social mobility by area homepage, version 1.0</a>.
    </p>
    <p class="govuk-body">
        In 2024, we published data for 203 local authorities.
        <br>
        {{ title }} is one of them.
    </p>

    <style>
        .composite-index-colour-circle {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid #505a5f;
        }
    </style>

    <script>
        (async function () {
            let mapData = await new DataUtils().loadDataFromURL('/static/data/by-page/social_mobility_by_area/areas.csv')
            mapData = mapData.data
            const area = mapData.filter(x => x['Area_name'] === '{{ title }}')[0]
            area['Value'] = 2
            mapData = [ ...mapData, area ]

            const map = new Choropleth(
                'map',
                '/static/data/maps/International_Territorial_Level_2_(January_2021)_UK_BUC.json',
                mapData,
                {
                    nameField: 'Area_name',
                    valueField: 'Value',
                    areaField: 'ITL221NM',
                    width: 300,
                    height: 300,
                    labels: true,
                    colourScheme: ['#84b871', '#e1e361'],
                    allowZoom: false,
                    zoomTo: area.Area_name,
                    highlight: area.Area_name
                }
            )
        })()
    </script>
{% endblock %}
