{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% macro cell(group_name_col, group_number_col) %}
        {% set  group_number = row_for_region[group_number_col] | int - 1 %}
        <td class="govuk-table__cell {{ "classification-" ~ group_number }}">
            {{ row_for_region[group_name_col] | capitalize }}
        </td>                                                   
    {% endmacro %}

    <div id="maincontent" class="govuk-grid-row govuk-grid-row-full-width">
        <div class="grid grid2">
            <div>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                    {{ title }}
                </h1>
                <p class="govuk-body govuk-body-s govuk-!-margin-bottom-7">
                    Published: 11 September 2025
                </p>

                <p class="govuk-body">
                    This page shows how {{ title }} is classified for the following 4 measures of social mobility.
                </p>

                <p class="govuk-body">
                    The following measure covers the 2 time periods from 2018 to 2024:
                </p>

                <table class="govuk-body-s area-table-container govuk-table" style="width:60%;">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"></th>
                        <th scope="col" class="govuk-table__header">2018 to 2020</th>
                        <th scope="col" class="govuk-table__header">2021 to 2024</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="/intermediate_outcomes/composite_indices/promising_prospects/latest"
                                class="govuk-link">
                                Promising prospects</a>
                        </th>
                        {{ cell("promising_prospects_group_name_2018_to_2020", "promising_prospects_group_id_2018_to_2020") }}
                        {{ cell("promising_prospects_group_name_2021_to_2024", "promising_prospects_group_id_2021_to_2024") }}
                    </tr>
                    </tbody>
                </table>

                <p class="govuk-body">
                    The following measures cover the 4 time periods from 2000 to 2024:
                </p>

                <table class="govuk-body-s area-table-container govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"></th>
                        <th scope="col" class="govuk-table__header">2000 to 2005</th>
                        <th scope="col" class="govuk-table__header">2006 to 2011</th>
                        <th scope="col" class="govuk-table__header">2012 to 2017</th>
                        <th scope="col" class="govuk-table__header">2018 to 2024</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="/drivers_of_social_mobility/composite_indices/conditions_of_childhood/latest"
                                class="govuk-link">
                                Conditions of childhood</a>
                        </th>
                        {{ cell("childhood_conditions_group_name_2000_to_2005", "childhood_conditions_group_id_2000_to_2005") }}
                        {{ cell("childhood_conditions_group_name_2006_to_2011", "childhood_conditions_group_id_2006_to_2011") }}
                        {{ cell("childhood_conditions_group_name_2012_to_2017", "childhood_conditions_group_id_2012_to_2017") }}
                        {{ cell("childhood_conditions_group_name_2018_to_2024", "childhood_conditions_group_id_2018_to_2024") }}
                        </tr>

                        <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="/drivers_of_social_mobility/composite_indices/labour_market_opportunities_for_young_people/latest"
                                class="govuk-link">
                                Labour market opportunities for young people</a>
                        </th>
                        {{ cell("labour_market_opportunities_group_name_2000_to_2005", "labour_market_opportunities_group_id_2000_to_2005") }}
                        {{ cell("labour_market_opportunities_group_name_2006_to_2011", "labour_market_opportunities_group_id_2006_to_2011") }}
                        {{ cell("labour_market_opportunities_group_name_2012_to_2017", "labour_market_opportunities_group_id_2012_to_2017") }}
                        {{ cell("labour_market_opportunities_group_name_2018_to_2024", "labour_market_opportunities_group_id_2018_to_2024") }}
                        </tr>

                        <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="/drivers_of_social_mobility/composite_indices/innovation_and_growth/latest"
                                class="govuk-link">
                                Innovation and growth</a>
                        </th>
                        {{ cell("innovation_and_growth_group_name_2000_to_2005", "innovation_and_growth_group_id_2000_to_2005") }}
                        {{ cell("innovation_and_growth_group_name_2006_to_2011", "innovation_and_growth_group_id_2006_to_2011") }}
                        {{ cell("innovation_and_growth_group_name_2012_to_2017", "innovation_and_growth_group_id_2012_to_2017") }}
                        {{ cell("innovation_and_growth_group_name_2018_to_2024", "innovation_and_growth_group_id_2018_to_2024") }}
                        </tr>


                    </tbody>
                </table>

                

                <h2 class="govuk-heading-l">
                    How areas are classified
                </h2>
                <p class="govuk-body">
                    Each measure of social mobility combines data from multiple indicators into a single ‘composite’ score.
                </p>
                <p class="govuk-body">
                    For each measure (for example, ‘Innovation and growth’),
                    <a href="/social_mobility_by_area/latest#list-of-uk-regions"
                       class="govuk-link">
                        205 local authorities in the UK</a>
                    are classified according to their composite scores.
                    The following labels show how each area is classified:
                </p>
                
                <div class="govuk-body scale">
                    <div id="scaleSevenCategories{{ id }}" class="scale-seven-categories">
                        <div class="grid grid7 seven-categories"
                            style="margin-bottom: 5px;">
                            <div class="c1"></div>
                            <div class="c2"></div>
                            <div class="c3"></div>
                            <div class="c4"></div>
                            <div class="c5"></div>
                            <div class="c6"></div>
                            <div class="c7"></div>
                        </div>
                        <div class="grid grid7 scale-legend">
                            <div class="map-legend-group-names">Least<br>Favourable</div>
                            <div class="map-legend-group-names">Unfavourable</div>
                            <div class="map-legend-group-names">Lower<br>Middling</div>
                            <div class="map-legend-group-names">Middling</div>
                            <div class="map-legend-group-names">Upper<br>Middling</div>
                            <div class="map-legend-group-names">Favourable</div>
                            <div class="map-legend-group-names">Most<br>Favourable</div>
                        </div>
                    </div>
                </div>

                <br>

                <ul class="govuk-list govuk-list--bullet">
                    <li>most favourable</li>
                    <li>favourable</li>
                    <li>upper middling</li>
                    <li>middling</li>
                    <li>lower middling</li>
                    <li>unfavourable</li>
                    <li>least favourable</li>
                </ul>
                <p class="govuk-body">
                    The groups are not equally sized – the middling group is larger because most local authorities are very near the average.
                </p>
            </div>
            <div>
                <div class="map-container">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="page-history">
        Page history
    </h2>

    <p class="govuk-body">
        In 2023, we published data for 41 regions.
        <br>
        You can see these on the
        <a href="/social_mobility_by_area/1.0#the-41-regions"
           class="govuk-link">
           Social mobility by area homepage, version 1.0</a>.
    </p>
    <p class="govuk-body">
        In 2024, we published data for 203 local authorities.
        <br>
        You can see these on the
        <a href="/social_mobility_by_area/2.0#list-of-uk-regions"
           class="govuk-link">
           Social mobility by area homepage, version 2.0</a>.
    </p>
    <p class="govuk-body">
        In 2025, we published data for 205 local authorities.
        <br>
        {{ title }} is one of them.
    </p>

    <h3 class="govuk-heading-s">
        Publication release date:
    </h3>
    <p class="govuk-body">
        11 September 2025
    </p>

    <style>
        .composite-index-colour-circle {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid #505a5f;
        }
    </style>

    <script>
        (async function () {
            let mapData = await new DataUtils().loadDataFromURL('/static/data/by-page/social_mobility_by_area/205-regions.csv')
            mapData = mapData.data
            const area = mapData.filter(x => x['area_name'] === '{{ title }}')[0]
            area['value'] = 2
            mapData = [ ...mapData, area ]

            const map = new Choropleth(
                'map',
                '/static/data/maps/2025-UK205regions.json',
                mapData,
                {
                    nameField: 'area_name',
                    valueField: 'value',
                    areaField: 'Newname',
                    width: 300,
                    height: 300,
                    labels: true,
                    colourScheme: ['#84b871', '#e1e361'],
                    allowZoom: false,
                    zoomTo: area.area_name,
                    highlight: area.area_name
                }
            )
        })()
    </script>
{% endblock %}
