{% extends 'base.html' %}
{% block title %}Social Mobility Commission{% endblock %}

{% block backLink %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-grid-row-full-width">
    <div class="grid grid2">
        <div>
            <h1 class="govuk-heading-l">{{ title }}</h1>
            <p class="govuk-body">This page shows how {{ title }} is ranked for 5 different aspects of social mobility.</p>

            <h3 class="govuk-heading-m">How regions are ranked</h3>
            <p class="govuk-body">For each aspect, 41 regions in the UK are divided into 5 equally-sized groups, and then ranked from the top 20% to the bottom 20%.</p>
            <p class="govuk-body">For example, {{ title }} ranks in the <span id="selectedIndicatorRank"></span> of regions for <span id="selectedIndicator"></span>.</p>
            <p>&nbsp;</p>

            <h3 class="govuk-heading-m">Intermediate outcomes</h3>
            <p class="govuk-body">Intermediate outcomes measure the experiences of young people as they move through education and into work.</p>

            <div class="govuk-body area-quintile-header">
                <div>
                    <span>Worst outcomes<br>(bottom 20%)</span>
                    <span>Best outcomes<br>(top 20%)</span>                
                </div>
            </div>

            <div class="govuk-body area-quintile">
                <div>Promising prospects</div>
                <div id="chart1"></div>
            </div>

            <div class="govuk-body area-quintile">
                <div>Precarious situations</div>
                <div id="chart2"></div>
            </div>
            <p>&nbsp;</p>

            <h3 class="govuk-heading-m">Drivers of social mobility</h3>
            <p class="govuk-body">Drivers are the background conditions that make social mobility easier or more difficult.</p>

            <div class="govuk-body area-quintile-header">
                <div>
                    <span>Worst outcomes<br>(bottom 20%)</span>
                    <span>Best outcomes<br>(top 20%)</span>                
                </div>
            </div>

            <div class="govuk-body area-quintile">
                <div>Socio-cultural advantage</div>
                <div id="chart3"></div>
            </div>

            <div class="govuk-body area-quintile">
                <div>Childhood poverty and disadvantage</div>
                <div id="chart4"></div>
            </div>

            <div class="govuk-body area-quintile">
                <div>Research and development</div>
                <div id="chart5"></div>
            </div>
        </div>
        <div>
            <div class="map-container">
                <div id="map" class="map"></div>
            </div>
            <h3 class="govuk-heading-s">Districts in the {{ title }} region</h3>
            <p class="govuk-body-s"><span class="govuk-!-font-weight-bold">ITL3 areas:</span> {{ (menu['areas'] | selectattr('name', 'equalto', title) | list)[0].itl3 | join(', ') }}</p>
            <p class="govuk-body-s"><span class="govuk-!-font-weight-bold">Local authorities:</span> {{ (menu['areas'] | selectattr('name', 'equalto', title) | list)[0].la | join(', ') }}</p>
        </div>
    </div>
</div>
<script>
    (async function () {
        const indicators = [ 'Promising prospects', 'Precarious situations', 'Socio-cultural advantage', 'Childhood poverty and disadvantage', 'Research and development' ]

        const dataUtils = new DataUtils()
        let data = await dataUtils.loadDataFromURL(`${location.protocol}//${location.host}/static/data/indicators/2023-04-19 CI.csv`)
        data = data.data

        const options = {
            type: 'quintile',
            xkey: 'Value',
            ykey: 'Area_name',
            yvalue: '{{ title }}',
            colourScheme: ['#ca0020', '#f4a582', '#ffffbf', '#92c5de', '#0571b0'],
            dataFormat: 'quintile'
        }

        const chart1 = new Chart('chart1', data.filter(x => x['Ind_name'] == 'Promising prospects'), { ...options, title: 'Promising prospects' })
        const chart2 = new Chart('chart2', data.filter(x => x['Ind_name'] == 'Precarious situations'), { ...options, title: 'Precarious situations' })
        const chart3 = new Chart('chart3', data.filter(x => x['Ind_name'] == 'Socio-cultural advantage'), { ...options, title: 'Socio-cultural advantage' })
        const chart4 = new Chart('chart4', data.filter(x => x['Ind_name'] == 'Childhood poverty and disadvantage'), { ...options, title: 'Childhood poverty and disadvantage' })
        const chart5 = new Chart('chart5', data.filter(x => x['Ind_name'] == 'R & D environment'), { ...options, title: 'Research and development' })

        let mapData = await dataUtils.loadDataFromURL(`${location.protocol}//${location.host}/static/data/indicators/areas.csv`)
        mapData = mapData.data
        const area = mapData.filter(x => x['Area_name'] == '{{ title }}')[0]
        area['Value'] = 2
        mapData = [ ...mapData, area ]

        const map = new Choropleth(
            'map',
            `${location.protocol}//${location.host}/static/data/maps/International_Territorial_Level_2_(January_2021)_UK_BUC.json`,
            mapData,
            {
                nameField: 'Area_name',
                valueField: 'Value',
                areaField: 'ITL221NM',
                width: 300,
                height: 300,
                labels: true,
                colourScheme: ['#84b871', '#e1e361'],
                allowZoom: false,
                zoomTo: area.Area_name,
                highlight: area.Area_name
            }
        )

        function rnd(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min)
        }

        setTimeout(function () {
            const selected = rnd(1, 5)
            const indicator = indicators[selected - 1]
            const quantile = eval(`chart${selected}`).status().quantile
            let quintile = ''
            if (quantile == 1) quintile = 'bottom 20%'
            if (quantile == 2) quintile = 'second lowest 20%'
            if (quantile == 3) quintile = 'middle 20%'
            if (quantile == 4) quintile = 'second highest 20%'
            if (quantile == 5) quintile = 'top 20%'

            document.getElementById('selectedIndicator').innerText = indicator
            document.getElementById('selectedIndicatorRank').innerText = quintile
        }, 100)
    })()
</script>
{% endblock %}
