{% extends 'base.html' %}
{% block title %}Social Mobility Commission{% endblock %}

{% block backLink %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-grid-row-full-width">
    <h1 class="govuk-heading-l mobile-hide">{{ title }}</h1>
    <p class="govuk-body">{{ [content, 'Summary'] | content }}</p>

    {% for item in content %}
    {% if item[0] not in ['Title', 'Summary', 'Map', 'Data Table'] %}

    {% if item[0] in ['H1', 'H2', 'H3', 'H4', 'H5', 'H6'] %}
    <{{ item[0] | lower }} class="govuk-heading-{% if item[0] in ['H1', 'H2'] %}l{% endif %}{% if item[0] in ['H3', 'H4'] %}m{% endif %}{% if item[0] in ['H5', 'H6'] %}s{% endif %}">{{ item[1] | safe }}</{{ item[0] | lower }}>
    {% endif %}

    {% if item[0] == 'Subtitle' %}
    <h3 class="govuk-heading-m">{{ item[1] | safe }}</h3>
    {% endif %}

    {% if item[0] == 'Text' %}
    <p class="govuk-body">{{ item[1] | safe }}</p>
    {% endif %}

    {% if item[0] == 'HTML' %}
    {{ item[1] | safe }}
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
