{% extends 'base-shared.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">
        Explore social mobility data
    </h1>

    <div class="homepage-cards">
        <div class="homepage-card-container">
            <div class="homepage-card">
                <h2 class="govuk-heading-l">
                    State of the nation
                </h2>
                <p class="govuk-body">
                    State of the Nation is an annual report into social mobility in the UK.
                    It uses original data and analysis from the Social Mobility Commission (SMC).
                </p>
                <a href="{{ url_for('son.index') }}"
                   role="button"
                   draggable="false"
                   class="govuk-button govuk-button--start govuk-!-margin-bottom-0"
                   data-module="govuk-button">
                    Explore
                    <span class="govuk-visually-hidden">
                        State of the Nation
                    </span>
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="homepage-card-container">
            <div class="homepage-card">
                <h2 class="govuk-heading-l">
                    University benchmarking
                </h2>
                <p class="govuk-body">
                    Interactive data for students, parents, universities and policy makers.
                    Explore how 94 universities compare for equal access and social mobility.
                </p>
                <a href="{{ url_for('universities.index') }}"
                   role="button"
                   draggable="false"
                   class="govuk-button govuk-button--start govuk-!-margin-bottom-0"
                   data-module="govuk-button">
                    Explore
                    <span class="govuk-visually-hidden">
                        University benchmarking
                    </span>
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <h2 class="govuk-heading-l">
        About the Social Mobility Commission
    </h2>
    <p class="govuk-body">
        The Social Mobility Commission is an independent statutory body that aims to promote social mobility in England.
        It carries out and publishes research – including the yearly State of the Nation report – and gives advice to
        ministers on how to improve social mobility in England.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-8">
        Find out more about the SMC on the
        <a href="https://socialmobility.independent-commission.uk/"
           class="govuk-link">
            Social Mobility Commission website</a>.
    </p>

    <style>
        .homepage-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -15px 20px -15px;
            max-width: 1000px;
        }
        .homepage-card-container {
            width: 100%;
            padding: 0 15px;
            display: flex;
        }
        @media (min-width: 910px) {
            .homepage-card-container {
                width: 50%;
            }
        }
        .homepage-card {
            background: #f3f2f1;
            border-bottom: 4px solid #1d70b8;
            margin-bottom: 20px;
            padding: 20px;
        }
    </style>
{% endblock %}
