{% extends 'base.html' %}

{% block title %}Sorry, the service is unavailable{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Sorry, the service is unavailable
            </h1>
            <p class="govuk-body">
                Contact the admin team if you need help with your application.
            </p>
            <p class="govuk-body">
                <a href="mailto:GRPenquiries@justice.gov.uk" class="govuk-link">
                    GRPenquiries@justice.gov.uk
                </a><br>
                Telephone: 020 3936 8968<br>
                Monday to Friday, 9am to 5pm<br>
                <a href=https://www.gov.uk/call-charges"
                   target="_blank" class="govuk-link">
                    Find out about call charges (opens in a new tab)
                </a>
            </p>

        </div>
    </div>
{% endblock %}
