{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="maincontent" class="govuk-grid-row govuk-grid-row-full-width">
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">{{ [content, 'Summary'] | content }}</p>

    {% for item in content %}
    {% if item[0] not in ['Title', 'Summary', 'Map', 'Data Table'] %}
    {% if item[0] == 'Subtitle' %}
    <h2 class="govuk-heading-l">{{ item[1] | safe }}</h2>
    {% endif %}
    {% if item[0] == 'Text' %}
    <p class="govuk-body">{{ item[1] | safe }}</p>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
