{% extends 'base.html' %}
{% block title %}Social Mobility Commission{% endblock %}

{% block backLink %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-grid-row-full-width">
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ [content, 'Summary'] | content }}</p>

    {% for item in content %}
    {% if item[0] not in ['Title', 'Summary', 'Map', 'Data Table'] %}
    {% if item[0] == 'Subtitle' %}
    <h3 class="govuk-heading-m">{{ item[1] | safe }}</h3>
    {% endif %}
    {% if item[0] == 'Text' %}
    <p class="govuk-body">{{ item[1] | safe }}</p>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
