{% macro chart(id, data) %}
<div id="chart{{ id }}" style="display: block; width: 100%; height: 100%;"></div>
<script>
    let chart{{ id }}
    window.document.addEventListener('DOMContentLoaded', function () {
        const options = {{ data | safe }}
        if (options.type != 'dot') {
            options.width = document.getElementById('maincontent').offsetWidth
        }

        chart{{ id }} = new Chart(
            'chart{{ id }}',
            `${location.protocol}//${location.host}{{ [data, 'data'] | attribute | safe }}`,
            options
        )

        //document.getElementById('chart{{ id }}_download').addEventListener('click', function () {
        //    chart{{ id }}.download()
        //})
    })

    function downloadChart{{ id }}() {
        chart{{ id }}.download()
    }
</script>
{% endmacro %}
