{% macro map(id, data) %}
<div class="map-container">
    <div class="map-controls">
        <button id="mapZoomIn{{ id }}">+</button>
        <button id="mapZoomOut{{ id }}">-</button>
    </div>
    <div id="map{{ id }}" class="map"></div>
    <div id="map_scale{{ id }}" class="map-scale govuk-body"></div>
    <div id="map_tooltip{{ id }}" class="map-tooltip govuk-body">
        <div id="map_legend{{ id }}" class="legend"></div>
        <div class="marker">
            <div id="map_marker{{ id }}">
                <img src="/static/assets/images/down_triangle.svg" width="30" height="16">
            </div>
        </div>
        <div class="scale-qunitile">
            <div class="grid grid5 quintile">
                <div class="q1"></div>
                <div class="q2"></div>
                <div class="q3"></div>
                <div class="q4"></div>
                <div class="q5"></div>
            </div>
            <div class="grid grid2 scale-legend">
                <div>Q1 - Bottom 20%</div>
                <div>Q5 - Top 20%</div>
            </div>
        </div>
        <div class="scale-viridis">
            <div class="viridis"></div>
            <div class="grid grid2 scale-legend">
                <div>20</div>
                <div>80</div>
            </div>
        </div>
    </div>
</div>
<script>
    let map{{ id }}

    function buildMap{{ id }}(datafile) {
        const options = {{ data | safe }}
        if (typeof options.data !== 'undefined' && Array.isArray(options.data)) options.data = options.data[options.data.length - 1]
        if (typeof options.legend !== 'undefined') options.legend = options.legend + '{{ id }}'

        map{{ id }} = new Choropleth(
            'map{{ id }}',
            `${location.protocol}//${location.host}${options.map}`,
            `${location.protocol}//${location.host}${datafile || options.data.data || options.data}`,
            options
        )

        document.getElementById('mapZoomIn{{ id }}').addEventListener('click', function () {
            map{{ id }}.zoomIn()
        })

        document.getElementById('mapZoomOut{{ id }}').addEventListener('click', function () {
            map{{ id }}.zoomOut()
        })
    }

    window.document.addEventListener('DOMContentLoaded', function () {
        buildMap{{ id }}()
    })

    function downloadMap{{ id }}() {
        map{{ id }}.download()
    }
</script>
{% endmacro %}
