<div class="govuk-tabs visualisation-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list" role="tablist" style="display: flex; flex-wrap: wrap;">
        {% for tab_data in tabs_data %}
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selectedz" role="presentation">
                <a  href="#{{ ('tab__' + tab_data.section_name + '__' + tab_data.tab_name).replace(' ', '_') }}"
                    class="govuk-tabs__tab"
                    role="tab">
                    {{ tab_data.tab_name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {{ inner_content }}
</div>
