
{% from 'components/chart.html' import chart %}
{% from 'components/map.html' import map %}
{% from 'components/composite.html' import composite %}
{% from 'components/data-table.html' import datatable %}

{% macro visualisation(id, type, data) %}
<div class="govuk-tabs visualisation-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <a class="govuk-tabs__tab" href="#chart{{ id }}_tab" id="tab_chart{{ id }}_tab" role="tab" aria-controls="chart{{ id }}_tab" aria-selected="true" tabindex="0">
                Visualisation
            </a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#data_table{{ id }}_tab" id="tab_data_table{{ id }}_tab" role="tab" aria-controls="data_table{{ id }}_tab" aria-selected="false" tabindex="-1">
                Data
            </a>
        </li>
        {% if type == 'map' and [data, 'title'] | attribute | safe == 'Distribution of parental education' %}
        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#guidance{{ id }}_tab" id="tab_guidance{{ id }}_tab" role="tab" aria-controls="guidance{{ id }}_tab" aria-selected="false" tabindex="-1">
                Guidance
            </a>
        </li>
        {% endif %}
        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#download{{ id }}_tab" id="tab_download{{ id }}_tab" role="tab" aria-controls="download{{ id }}_tab" aria-selected="false" tabindex="-1">
                Download
            </a>
        </li>
    </ul>

    <div id="chart{{ id }}_tab" class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_chart{{ id }}_tab">
        <h2 class="govuk-visually-hidden">
            Visualisation
        </h2>

        <h3 class="govuk-heading-s">{{ [data, 'title'] | attribute | safe }}</h3>

        {% if [data, 'data'] | attribute_type == 'list' %}
        <div class="govuk-form-group">
            {% if [data, 'toggle'] | attribute == 'radio' %}
            <fieldset class="govuk-fieldset">
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    {% for item in ([data, 'data'] | attribute) %}
                    <div class="govuk-radios__item">
                        <input id="range-option{{ loop.index }}" type="radio" value="{{ item.label }}" name="range{{ id }}" class="govuk-radios__input" onclick="selectRange{{ id }}(this.value)"{% if loop.index == loop.length %} checked{% endif %}>
                        <label for="range-option{{ loop.index }}" class="govuk-label govuk-radios__label">
                            {{ item.label }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
            {% else %}
            <input id="range{{ id }}" type="range" value="{{ ([data, 'data'] | attribute)[-1].label }}" min="{{ ([data, 'data'] | attribute)[0].label }}" max="{{ ([data, 'data'] | attribute)[-1].label }}" step="1" oninput="selectRange{{ id }}(this.value)" list="values{{ id }}">
            <datalist id="values{{ id }}" class="govuk-body">
                {% for item in ([data, 'data'] | attribute) %}
                <option value="0" label="{{ item.label }}"></option>
                {% endfor %}
            </datalist>
            {% endif %}
        </div>
        <script>
            const options{{ id }} = {{ [data, 'data'] | attribute | safe }}

            document.getElementById('range{{ id }}').addEventListener('input', function (e) {
                let target = e.target
                target.style.backgroundSize = (target.value - target.min) * 100 / (target.max - target.min) + '% 100%'
            })

            function selectRange{{ id }}(id) {
                const datafile = options{{ id }}.filter(x => x.label == id)[0].data
                try {
                    buildMap{{ id }}(datafile)
                }
                catch (e) {}
                try {
                    buildChart{{ id }}(datafile)
                }
                catch (e) {}
            }
        </script>
        {% endif %}

        {% if type == 'chart' %}
        {{ chart(id, data) }}
        {% else %}

        {% if [data, 'title'] | attribute | safe == 'Childhood poverty' %}
        <p class="govuk-body">41 regions in the UK are divided into 5 equally-sized groups, and then ranked from the best outcomes (top 20%) to the worst outcomes (bottom 20%).</p>
        <p class="govuk-body">The figure for each region shows the percentage of children in relative poverty after housing costs.</p>
        <p class="govuk-body">The lines either side of the dots represent confidence intervals – the range of values that the 'true' value for the region is highly likely to be within. Read more about confidence intervals.</p>
        {% endif %}

        {% if ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
        <p class="govuk-body">How regions are ranked:</p>
        <p class="govuk-body">Based on their composite scores, 41 regions in the UK are ranked from the best to the worst outcomes. They are then divided into 5 equally-sized groups (‘quintiles’) – from 1 (top 20%) to 5 (bottom 20%).</p>
        {% endif %}

        <div class="grid grid2 map">
            <div class="grid-map">
                {{ map(id, data) }}
            </div>
            {% if ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
            <div class="grid-composite">
                {{ composite(id, data) }}
            </div>
            {% else %}
            <div class="grid-chart">
                {{ chart(id, data) }}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div id="data_table{{ id }}_tab" class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_data_table{{ id }}_tab">
        <h2 class="govuk-visually-hidden">
            Data
        </h2>

        <div>
            {{ datatable(id, data) }}
        </div>
    </div>

    {% if type == 'map' and [data, 'title'] | attribute | safe == 'Distribution of parental education' %}
    <div id="guidance{{ id }}_tab" class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_guidance{{ id }}_tab">
        <h2 class="govuk-visually-hidden">
            Guidance
        </h2>

        <h3 class="govuk-heading-m">What the map shows<h3>
        <p class="govuk-body">The figure for each region shows the percentage of adults with dependent children who are educated to degree level or above.</p>
        <p class="govuk-body">Regions shown in red represent those in the bottom 20% for worst outcomes. Regions in blue represent those in the top 20% for best outcomes.</p>
        <p class="govuk-body">41 regions in the UK are divided into 5 equally-sized groups, and then ranked from the top 20% to the bottom 20%.</p>
        <p>&nbsp;</p>
        <h3 class="govuk-heading-m">What the caterpillar chart shows</h3>
        <p class="govuk-body">The chart shows how each region or group of regions performs against the best (top 20%) and worst (bottom 20%) outcomes for youth unemployment.</p>
        <p class="govuk-body">The lines either side of the dots represent confidence intervals – the range of values that the 'true' value for the region is highly likely to be within. Read more about <a href="https://www.ethnicity-facts-figures.service.gov.uk/understanding-our-data/how-to-read-survey-data#confidence-intervals" target="_blank" class="govuk-link">confidence intervals</a>.</p>
    </div>
    {% endif %}

    <div id="download{{ id }}_tab" class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_download{{ id }}_tab">
        <h2 class="govuk-visually-hidden">
            Download
        </h2>

        <ul class="govuk-list">
            {% if not ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
            <li>
                <a href="javascript:;" class="download govuk-link" onclick="downloadChart{{ id }}()">
                    Download the chart (PNG<span id="chartSize{{ id }}"></span>)
                </a>
            </li>
            {% endif %}
            {% if type == 'map' %}
            <li>
                <a href="javascript:;" class="download govuk-link" onclick="downloadMap{{ id }}()">
                    Download the map (PNG<span id="mapSize{{ id }}"></span>)
                </a>
            </li>
            {% endif %}
            <li>
                <a href="javascript:;" data-file="{{ [data, 'data'] | attribute | safe }}" type="text/csv" class="download govuk-link" onclick="downloadData{{ id }}()">
                    Download the data (CSV<span id="dataTableSize{{ id }}"></span>)
                </a>
            </li>
        </ul>
        {% if not ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
        <p class="govuk-body">For the full download file, see <a href="#Download the data" class="govuk-link">Download the data</a>.
        {% endif %}
    </div>
</div>
{% endmacro %}
