
{% from 'components/chart.html' import chart %}
{% from 'components/map.html' import map %}
{% from 'components/composite.html' import composite %}

<div id="chart{{ id }}_tab">
    {% if [data, 'data'] | attribute_type == 'list' %}

        <div class="govuk-form-group">
            {% if [data, 'toggle'] | attribute == 'radio' %}
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        {% for item in ([data, 'data'] | attribute) %}
                            <div class="govuk-radios__item">
                                <input id="range-option{{ id }}_{{ loop.index }}" type="radio" value="{{ item.label }}" name="range{{ id }}" class="govuk-radios__input" onclick="selectRange({{ id }}, this.value)"{% if loop.index == loop.length %} checked{% endif %}>
                                <label for="range-option{{ id }}_{{ loop.index }}" class="govuk-label govuk-radios__label">
                                    {{ item.label }}
                                </label>
                            </div>

                            {% if not ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
                                <li class="move-to-download-section">
                                    {#  This <li> element will be moved to the "download" tab by some javascript  #}
                                    <a href="javascript:;" class="govuk-link"
                                       onclick="downloadChart({{ id }}, '{{ item.data }}', '{{ item.label }}', '{{ indicator | lower | replace(' ', '_') }}__chart__{{ section | lower | replace(' ', '_') }}__{{ item.label | lower | replace(' ', '_') }}.png')">
                                        Download the {{ item.label }} chart (PNG, <span class="chartSize{{ id }}"></span>)
                                    </a>
                                </li>
                            {% endif %}

                            {% if type == 'map' %}
                                <li class="move-to-download-section">
                                    {#  This <li> element will be moved to the "download" tab by some javascript  #}
                                    <a href="javascript:;" class="govuk-link"
                                       onclick="downloadMap({{ id }}, '{{ item.data }}', '{{ item.label }}', '{{ indicator | lower | replace(' ', '_') }}__map__{{ section | lower | replace(' ', '_') }}__{{ item.label | lower | replace(' ', '_') }}.png')">
                                        Download the {{ item.label }} map (PNG, <span class="mapSize{{ id }}"></span>)
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
            {% else %}
                <input id="range{{ id }}" type="range" value="{{ ([data, 'data'] | attribute)[-1].label }}" min="{{ ([data, 'data'] | attribute)[0].label }}" max="{{ ([data, 'data'] | attribute)[-1].label }}" step="1" oninput="selectRange({{ id }}, this.value)" list="values{{ id }}">
                <datalist id="values{{ id }}" class="govuk-body">
                    {% for item in ([data, 'data'] | attribute) %}
                        <option value="0" label="{{ item.label }}"></option>
                    {% endfor %}
                </datalist>
            {% endif %}
        </div>
        <script id="toggleOptions{{ id }}" type="text/plain">{{ [data, 'data'] | attribute | tojson | base_64_encode }}</script>

    {% else %}
        {% if type == 'chart' %}
            <li class="move-to-download-section">
                {#  This <li> element will be moved to the "download" tab by some javascript  #}
                <a href="javascript:;" class="govuk-link" onclick="downloadChart({{ id }}, null, null, '{{ indicator | lower | replace(' ', '_') }}__chart__{{ section | lower | replace(' ', '_') }}.png')">
                    Download the chart (PNG, <span class="chartSize{{ id }}"></span>)
                </a>
            </li>
        {% else %}
            <li class="move-to-download-section">
                {#  This <li> element will be moved to the "download" tab by some javascript  #}
                <a href="javascript:;" class="govuk-link" onclick="downloadMap({{ id }}, null, null, '{{ indicator | lower | replace(' ', '_') }}__map__{{ section | lower | replace(' ', '_') }}.png')">
                    Download the map (PNG, <span class="mapSize{{ id }}"></span>)
                </a>
            </li>
            {% if ([data, 'code'] | attribute) not in ['_CI1', '_CI2', '_CI3', '_CI4', '_CI5'] %}
                <li class="move-to-download-section">
                    {#  This <li> element will be moved to the "download" tab by some javascript  #}
                    <a href="javascript:;" class="govuk-link" onclick="downloadChart({{ id }}, null, null, '{{ indicator | lower | replace(' ', '_') }}__chart__{{ section | lower | replace(' ', '_') }}.png')">
                        Download the chart (PNG, <span class="chartSize{{ id }}"></span>)
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if type == 'chart' %}
        {{ chart(id, data) }}
    {% else %}
        <div class="grid grid2 map">
            <div class="grid-map">
                {{ map(id, data) }}
            </div>
            {% if ([data, 'code'] | attribute) in ['_CI1', '_CI2', '_CI3', '_CI4', '_CI5'] %}
                <div class="grid-composite">
                    {{ composite(id, data, markdown_file_parent_directory) }}
                </div>
            {% else %}
                <div class="grid-chart">
                    {{ chart(id, data) }}
                </div>
            {% endif %}
        </div>
    {% endif %}

</div>
