
{% from 'components/chart.html' import chart %}
{% from 'components/map.html' import map %}
{% from 'components/composite.html' import composite %}
{% from 'components/data-table.html' import datatable %}

{% macro visualisation(id, type, data) %}
<div class="govuk-tabs visualisation-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <a class="govuk-tabs__tab" href="#chart{{ id }}_tab" id="tab_chart{{ id }}_tab" role="tab" aria-controls="chart{{ id }}_tab" aria-selected="true" tabindex="0">
                Visualisation
            </a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#data_table{{ id }}_tab" id="tab_data_table{{ id }}_tab" role="tab" aria-controls="data_table{{ id }}_tab" aria-selected="false" tabindex="-1">
                Data
            </a>
        </li>
        <!--<li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#guidance{{ id }}_tab" id="tab_guidance{{ id }}_tab" role="tab" aria-controls="guidance{{ id }}_tab" aria-selected="false" tabindex="-1">
                Guidance
            </a>
        </li>-->
        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#download{{ id }}_tab" id="tab_download{{ id }}_tab" role="tab" aria-controls="download{{ id }}_tab" aria-selected="false" tabindex="-1">
                Download
            </a>
        </li>
    </ul>

    <div id="chart{{ id }}_tab" class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_chart{{ id }}_tab">
        <h2 class="govuk-visually-hidden">
            Visualisation
        </h2>

        {% if [data, 'title'] | attribute != '' %}
        <h3 class="govuk-heading-s">{{ [data, 'title'] | attribute | safe }}</h3>
        {% endif %}

        {% if [data, 'data'] | attribute_type == 'list' %}
        <div class="govuk-form-group">
            {% if [data, 'toggle'] | attribute == 'radio' %}
            <fieldset class="govuk-fieldset">
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    {% for item in ([data, 'data'] | attribute) %}
                    <div class="govuk-radios__item">
                        <input id="range-option{{ id }}_{{ loop.index }}" type="radio" value="{{ item.label }}" name="range{{ id }}" class="govuk-radios__input" onclick="selectRange{{ id }}(this.value)"{% if loop.index == loop.length %} checked{% endif %}>
                        <label for="range-option{{ id }}_{{ loop.index }}" class="govuk-label govuk-radios__label">
                            {{ item.label }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
            {% else %}
            <input id="range{{ id }}" type="range" value="{{ ([data, 'data'] | attribute)[-1].label }}" min="{{ ([data, 'data'] | attribute)[0].label }}" max="{{ ([data, 'data'] | attribute)[-1].label }}" step="1" oninput="selectRange{{ id }}(this.value)" list="values{{ id }}">
            <datalist id="values{{ id }}" class="govuk-body">
                {% for item in ([data, 'data'] | attribute) %}
                <option value="0" label="{{ item.label }}"></option>
                {% endfor %}
            </datalist>
            {% endif %}
        </div>
        <script>
            const options{{ id }} = {{ [data, 'data'] | attribute | safe }}

            if (document.getElementById('range{{ id }}')) {
                document.getElementById('range{{ id }}').addEventListener('input', function (e) {
                    let target = e.target
                    target.style.backgroundSize = (target.value - target.min) * 100 / (target.max - target.min) + '% 100%'
                })
            }

            function selectRange{{ id }}(id) {
                const datafile = options{{ id }}.filter(x => x.label == id)[0].data
                try {
                    buildMap{{ id }}(datafile, false)
                }
                catch (e) {}
                try {
                    buildChart{{ id }}(datafile, false)
                }
                catch (e) {}

                if (document.getElementById('map_tooltip{{ id }}')) {
                    document.getElementById('map_tooltip{{ id }}').style.visibility = 'hidden'
                }
            }
        </script>
        {% endif %}

        {{ [data, 'Guidance'] | content_list | safe }}
        {% if type == 'chart' %}
        {{ chart(id, data) }}
        {% else %}
        {% if ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
        <p class="govuk-body">How regions are ranked:</p>
        <p class="govuk-body">Based on their composite scores, 41 regions in the UK are ranked from the best to the worst outcomes. They are then divided into 5 equally-sized groups (‘quintiles’) – from 1 (top 20%) to 5 (bottom 20%).</p>
        {% endif %}

        <div class="grid grid2 map">
            <div class="grid-map">
                {{ map(id, data) }}
            </div>
            {% if ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
            <div class="grid-composite">
                {{ composite(id, data) }}
            </div>
            {% else %}
            <div class="grid-chart">
                {{ chart(id, data) }}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div id="data_table{{ id }}_tab" class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_data_table{{ id }}_tab">
        <h2 class="govuk-visually-hidden">
            Data
        </h2>

        <div>
            {{ datatable(id, data) }}
        </div>
    </div>

    <!--<div id="guidance{{ id }}_tab" class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_guidance{{ id }}_tab">
        <h2 class="govuk-visually-hidden">
            Guidance
        </h2>

        <h3 class="govuk-heading-m"><h3>
        <p class="govuk-body"></p>
    </div>-->

    <div id="download{{ id }}_tab" class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_download{{ id }}_tab">
        <h2 class="govuk-visually-hidden">
            Download
        </h2>

        <ul class="govuk-list">
            {% if [data, 'data'] | attribute_type == 'list' %}
            {% for item in ([data, 'data'] | attribute) %}
            {% if not ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
            <li>
                <a href="javascript:;" class="download govuk-link" onclick="downloadChart{{ id }}('{{ item.data }}')">
                    Download the {{ item.label }} chart (PNG<span class="chartSize{{ id }}"></span>)
                </a>
            </li>
            {% endif %}

            {% if type == 'map' %}
            <li>
                <a href="javascript:;" class="download govuk-link" onclick="downloadMap{{ id }}('{{ item.data }}')">
                    Download the {{ item.label }} map (PNG<span class="mapSize{{ id }}"></span>)
                </a>
            </li>
            {% endif %}
            {% endfor %}
            {% else %}
            {% if not ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
            <li>
                <a href="javascript:;" class="download govuk-link" onclick="downloadChart{{ id }}()">
                    Download the chart (PNG<span class="chartSize{{ id }}"></span>)
                </a>
            </li>
            {% endif %}

            {% if type == 'map' %}
            <li>
                <a href="javascript:;" class="download govuk-link" onclick="downloadMap{{ id }}()">
                    Download the map (PNG<span class="mapSize{{ id }}"></span>)
                </a>
            </li>
            {% endif %}
            {% endif %}

            {% if [data, 'dataTable'] | attribute %}
            <li>
                <a href="javascript:;" data-file="{{ [data, 'dataTable'] | attribute | safe }}" type="text/csv" class="download govuk-link" onclick="downloadDataFile(`${location.protocol}//${location.host}{{ [data, 'dataTable'] | attribute | safe }}`, {{ [data, 'columns'] | attribute | safe }})">
                    Download the data (CSV {{ [data, 'dataTable'] | file_size | safe }})
                </a>
            </li>
            {% elif [data, 'data'] | attribute_type == 'list' %}
            {% for item in ([data, 'data'] | attribute) %}
            <li>
                <a href="javascript:;" data-file="{{ item.data }}" type="text/csv" class="download govuk-link" onclick="downloadDataFile(`${location.protocol}//${location.host}{{ item.data }}`, {{ [data, 'columns'] | attribute | safe }})">
                    Download the {{ item.label }} data (CSV {{ item.data | file_size | safe }})
                </a>
            </li>
            {% endfor %}
            {% else %}
            <li>
                <a href="javascript:;" data-file="{{ [data, 'data'] | attribute | safe }}" type="text/csv" class="download govuk-link" onclick="downloadData{{ id }}()">
                    Download the data (CSV {{ [data, 'data'] | file_size | safe }})
                </a>
            </li>
            {% endif %}
        </ul>
        {% if not ([data, 'code'] | attribute) in ['CI1', 'CI2', 'CI3', 'CI4', 'CI5'] %}
        <p class="govuk-body">For the full download file, see <a href="#Download the data" class="govuk-link">Download the data</a>.
        {% endif %}
    </div>
</div>
{% endmacro %}
