{% extends 'base-universities.html' %}
{% block title %}Rankings{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Rankings
            </h1>
            <p class="govuk-body">
                TODO Lead paragraph
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='equal-access-ranking') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Equal access
                    </a>
                    <br>
                    This metric assesses how effectively a university recruits students from lower socioeconomic
                    backgrounds compared to the demographic makeup of its surrounding area.
                    A higher 'Equal access' score indicates better recruitment of disadvantaged students.
                </li>
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='social-mobility-coefficient') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Social mobility coefficient
                    </a>
                    <br>
                    This coefficient measures the impact of socioeconomic background on student outcomes
                    (e.g. degree attainment, employment).
                    It accounts for factors like prior academic achievement and chosen field of study.
                    A higher coefficient suggests that a university is more successful at mitigating the
                    disadvantages faced by students from lower socioeconomic backgrounds.
                </li>
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='social-mobility-coefficient-with-location-weighting') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Social mobility coefficient (location weighting)
                    </a>
                    <br>
                    Similar to the Social mobility coefficient, but this version incorporates a weighting based on
                    the student's geographical location.
                    This provides a more nuanced view by considering local socioeconomic factors that might influence
                    student outcomes, offering a fairer comparison between institutions in different regions.
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
