{% extends 'base-universities.html' %}
{% block title %}Rankings{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Rankings
            </h1>
            <p class="govuk-body">
                Explore rankings tables that show how all 94 universities compare for the following 3 social mobility metrics:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='equal-access-ranking') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Equal access
                    </a>
                    <br>
                    This metric compares each university's student intake against the socio-economic makeup of all
                    18 to 19 year olds in England. It shows how representative each university’s student body is of
                    the general population, regardless of their academic grades.
                </li>
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='social-mobility-coefficient') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Social mobility coefficient
                    </a>
                    <br>
                    This metric compares the students who enrol at each university against the pool of 18 to 19
                    year olds in England who achieved the required grades for that university.
                </li>
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='social-mobility-coefficient-with-location-weighting') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Social mobility coefficient (adjusted for location)
                    </a>
                    <br>
                    This adjusts the social mobility coefficient to account for geography by giving more importance to
                    qualified students who live close to the university.
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
