{% extends 'base-universities.html' %}
{% block title %}Rankings{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Rankings
            </h1>
            <p class="govuk-body">
                Understanding the metrics presented in this tool is key to gaining insights into social mobility at universities.
                Here's a brief guide:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='equal-access-ranking') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Equal access
                    </a>
                    <br>
                    This metric compares a university's actual student intake against the socio-economic makeup of all young people in England.
                    It provides a baseline showing how representative the student body is of the general population, regardless of their academic grades.
                </li>
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='social-mobility-coefficient') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Social mobility coefficient
                    </a>
                    <br>
                    This metric compares the students who actually enrol against the specific pool of young people
                    across the country who achieved the required grades for that university.
                    A positive score means the university successfully recruits a more disadvantaged cohort than its
                    available qualified pool, while a negative score suggests there is room for improvement.
                </li>
                <li>
                    <a href="{{ url_for('universities.individual_ranking', ranking_slug='social-mobility-coefficient-with-location-weighting') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        Social mobility coefficient location-adjusted
                    </a>
                    <br>
                    This adjusts the previous score to account for geography by placing higher importance on qualified
                    students who live close to the university campus.
                    This provides a more nuanced view by considering local socioeconomic factors that might influence
                    student outcomes, offering a fairer comparison between institutions in different regions.
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
