{% extends 'base-universities.html' %}
{% block title %}Universities{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                University benchmarks for better social mobility
            </h1>
            <p class="govuk-body">
                This data is designed to help students, parents, universities and policy makers to explore detailed
                benchmarks on university access and social mobility.
            </p>
            <p class="govuk-body">
                You can explore the data in two ways:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="{{ url_for('universities.by_university_homepage') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        By university
                    </a>
                    <br>
                    See how 94 individual universities rank on 3 social mobility metrics.
                </li>
                <li>
                    <a href="{{ url_for('universities.rankings_homepage') }}"
                       class="govuk-link govuk-!-font-weight-bold">
                        By rankings tables
                    </a>
                    <br>
                    Explore 3 rankings tables that show how all 94 universities compare for  equal access and the
                    social mobility coefficient (with and without adjusting for location).
                </li>
            </ul>

            <h2 class="govuk-heading-m">
                About the data
            </h2>
            <p class="govuk-body">
                The data follows students from their GCSEs in the 2015 to 2016 academic year, to their university
                enrolment at age 18 or 19 (between 2018 and 2020).
                We used data from before the COVID-19 pandemic to provide a clear, fair, and stable reference point
                before the disruptions caused by the pandemic.
            </p>
            <p class="govuk-body">
                You can read more about the methodology, data sources, and limitations of the data in
                <a href="{{ url_for('universities.about_the_data') }}"
                   class="govuk-link">
                    About the data</a>.
            </p>

        </div>
    </div>
{% endblock %}
