/* Overwrite GOVUK defaults so we can use different breakpoints */
@media(min-width: 40.0625em) {
    .govuk-width-container {
        margin-right: unset;
        margin-left: unset;
    }

    @supports(margin: max(calc(0px))) {
        .govuk-width-container {
            margin-right: unset;
            margin-left: unset;
        }
    }

    nav.govuk-header__navigation {
        display: none;
    }

    div#mobile-nav {
        display: none;
    }

    .dashboard-container {
        main#main-content {
            width: 100%;
            padding: 20px 0 0 20px;
        }

        .govuk-grid-row.govuk-grid-row-full-width {
            width: 100%;
            padding: 0 15px;

            > p {
                max-width: 775px;
            }

            .govuk-tabs {
                p {
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 40.0625em) {
    .js-enabled {
        nav.govuk-header__navigation {
            display: block;
        }
    }

    div.moj-primary-navigation {
        display: none;
    }

    div.dashboard-menu {
        display: none;
    }

    .dashboard-container {
        main#main-content {
            width: 100%;
            padding: 20px 0 0 0;
        }

        .govuk-grid-row.govuk-grid-row-full-width {
            padding: 0 15px;

            .govuk-tabs {
                /*padding: 10px;*/

                p {
                    width: 100%;
                }
            }
        }
    }
}

@media(min-width: 1020px) {
    .govuk-width-container {
        margin-right: unset;
        margin-left: unset;
    }

    @supports(margin: max(calc(0px))) {
        .govuk-width-container {
            margin-right: unset;
            margin-left: unset;
        }
    }
}

/* Set our own breakpoints */
.govuk-width-container, .moj-primary-navigation__container, .govuk-phase-banner {
    max-width: 1920px;
    margin-right: 30px;
    margin-left: 30px;
}

@supports(margin: max(calc(0px))) {
    .govuk-width-container, .moj-primary-navigation__container, .govuk-phase-banner {
        margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
        margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
    }
}

@media(min-width: 49.9375em) {
    .govuk-width-container, .moj-primary-navigation__container, .govuk-phase-banner {
        margin-right: 30px;
        margin-left: 30px;
    }

    @supports(margin: max(calc(0px))) {
        .govuk-width-container, .moj-primary-navigation__container, .govuk-phase-banner {
            margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
            margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
        }
    }
}

@media(min-width: 1980px) {
    .govuk-width-container, .moj-primary-navigation__container, .govuk-phase-banner {
        margin-right: auto;
        margin-left: auto;
    }

    @supports(margin: max(calc(0px))) {
        .govuk-width-container, .moj-primary-navigation__container, .govuk-phase-banner {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.govuk-header {
    border-color: #1d70b8;
}

.mobile {
    display: none;

    @media(max-width: 40.0625em) {
        display: block
    }
}

.mobile-hide {
    display: block;

    @media(max-width: 40.0625em) {
        display: none
    }
}

/* Side menu */
#sidemenu {
    li#sidemenu_showmore a, li#sidemenu_showless a {
        padding-left: 14px;
    }

    .hidden {
        display: none;
    }
}

#searchquery {
    --govuk-frontend-version: "4.6.0";
    text-size-adjust: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 35px;
    border: 2px solid #000;
    border-radius: 0;
    -webkit-appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='%23505a5f'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center left -2px;
    background-size: 40px 40px;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

.search-summary {
    color: #777;
    font-size: smaller;
}

ol.toc {
    margin-bottom: 100px;

    li {
        a {
            font-size: 1.1875rem;
        }
    }
}

hr.divider {
    margin: 40px 0;
}

ul.list-disc {
    list-style-type: disc;
    margin-left: 20px;
}

p.sub-header {
    margin-bottom: 5px;
    font-weight: bold;
}

a.search-result {
    display: block;
    margin: 5px 0;
    text-decoration: none;

    em {
        color: #777;
        font-size: smaller;
    }
}

/* Tabs panel */
div.govuk-tabs {
    background-color: #f3f2f1;

    ul.govuk-tabs__list {
        border: none;

        li.govuk-tabs__list-item,  li.govuk-tabs__list-item--selected {
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: unset;
            border: none;

            a.govuk-tabs__tab {
                padding-bottom: 5px;
                color: #1d70b8;
                text-decoration: none;
            }
        }

        li.govuk-tabs__list-item--selected {
            a.govuk-tabs__tab {
                font-weight: 700;
                text-decoration: none;
                box-shadow: 0 -2px transparent, 0 4px #1d70b8;
            }
        }
    }

    div.govuk-tabs__panel {
        border: none;
    }

    div.moj-scrollable-pane {
        background: linear-gradient(90deg, #fff, #fff, hsla(0, 0%, 100%, 0) 1.5em),
                    radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, .2), hsla(0, 0%, 100%, 0)),
                    linear-gradient(270deg, #fff, #fff, hsla(0, 0%, 100%, 0) 1.5em),
                    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), hsla(0, 0%, 100%, 0))
                    100%;
        background: transparent;
    }

    @media(max-width: 1400px) {
        div.cols {
            width: 100%;
            height: auto;
            min-height: 500px;

            div {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }

    @media(max-width: 750px) {
        div.cols {
            width: 100%;
            height: auto;
            min-height: 500px;

            div.caterpillar {
                display: none;
            }
        }
    }

    @media(min-width: 1400px) {
        div.cols {
            width: 100%;
            height: auto;
            min-height: 500px;

            div {
                display: inline-block;
                height: 100%;
                width: calc(50% - 25px);
                vertical-align: top;
            }

            div:first-child {
                margin-right: 25px;
            }

            div:last-child {
                margin-left: 25px;
            }
        }
    }
}

div.data-table-data {
    position: relative;
    clear: both;
    overflow-x: scroll;
    overflow-y: auto;
    min-height: 300px;
    max-height: 500px;
}

div#tab-data.govuk-tabs__panel  {
    display: grid;
}

div#tab-data.govuk-tabs__panel--hidden {
    display: none;
}

div.data-table-data table {
    width: 100%;
    font-size: 18px;

    thead {
        tr {
            th {
                padding: 12px 7px;
                background: #f3f2f1;
                border-bottom: 1px solid #b1b4b6;
            }
        }
    }

    tbody {
        tr:first-child {
            td {
                border-top: none;
            }
        }

        tr {
            td {
                padding: 12px 7px;
            }
        }
    }
}

/* Grid layouts */
.grid {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    gap: 0;
}

.grid2 {
    gap: 10px;

    > div {
        width: 50%;
    }

    @media(max-width: 1400px) {
        display: block;

        > div {
            width: 100%;
        }
    }
}

.grid2.map {
    height: 800px;
    padding: 10px;
    background: #fafafa;

    > div {
        height: 800px;
        position: relative;
    }

    @media(max-width: 1400px) {
        height: 1640px;
        padding: 10px;
        background: #fafafa;

        > div {
            height: 800px;
            position: relative;
            overflow: hidden;
        }

        > div:last-child {
            margin-top: 20px;
        }
    }

    @media(max-width: 40.0625em) {
        width: unset;
        height: 820px;

        div.chart-dot {
            display: none;
        }
    }
}

.grid3 {
    height: 300px;
    gap: 20px;

    > a {
        display: inherit;
        width: 33%;
        text-decoration: none;
    }

    > a > div, > div {
        width: 33%;
        padding: 20px;
        flex-grow: 1;
        background-color: #f3f2f1;

        > p:first-child {
            margin-top: 0;
        }

        > p:last-child {
            margin-bottom: 0;
        }
    }

    div.chart {
        width: 260px;
        height: 180px;
    }

    @media(max-width: 40.0625em) {
        display: block;
        height: auto;

        > a {
            width: 100%;

            div {
                width: calc(100% - 40px);
            }
        }

        > div {
            width: inherit;
        }
    }
}

.grid5 {
    > div {
        width: 20%;
    }
}

.grid-three-quarters {
    max-width: 775px;
}

.grid-home {
    flex-wrap: wrap;
    max-width: 1000px;
    height: auto;

    > div {
        padding: 10px;
        width: calc((100% / 3) - (100px / 3));
        min-height: 300px;

        &.double-width {
            width: calc((200% / 3) - (100px / 3));
        }

        h3.govuk-heading-s {
            margin-bottom: 10px;
            font-weight: normal;
            color: #777;
        }

        > div.chart-container {
            height: 220px;
            margin-bottom: 15px;
            padding: 20px 0 0 0;
            background-color: #fff;

            div.chart {
                width: calc(100% - 20px);
            }
        }

        > div.map-container {
            margin-bottom: 10px;
        }

        p {
            margin: 0;
            height: 110px;
        }

        p, a {
            font-size: 1.1rem;
        }
    }

    @media(min-width: 641px) and (max-width: 950px) {
        > div:first-child, > div.double-width {
            width: 100%;

            &.double-width {
                height: auto;
                min-height: auto;
            }

            p {
                height: 60px;
            }
        }

        > div:nth-child(2), > div:nth-child(3) {
            width: calc(50% - 30px);

            p {
                height: 120px;
            }
        }
    }

    @media(max-width: 640px) {
        > div, > div.double-width {
            width: calc(100% - 20px);

            &.double-width {
                height: auto;
                min-height: auto;
            }

            p {
                margin-bottom: 20px;
                height: auto;
            }
        }
    }
}

.grid-domain {
    flex-wrap: wrap;
    max-width: 775px;
    height: auto;

    > div {
        padding: 10px;
        width: calc((100% / 3) - (100px / 3));
        min-height: 300px;

        &.double-width {
            width: calc((200% / 3) - (100px / 3));
        }

        h3.govuk-heading-s {
            margin-bottom: 10px;
            font-weight: normal;
            color: #777;
        }

        > div.chart-container {
            height: 220px;
            margin-bottom: 15px;
            padding: 20px 0 0 0;
            background-color: #fff;

            div.chart {
                width: calc(100% - 20px);
            }
        }

        > div.map-container {
            margin-bottom: 10px;
        }

        p {
            margin: 0;
            height: 110px;
        }

        p, a {
            font-size: 1.1rem;
        }
    }

    @media(min-width: 721px) and (max-width: 1020px) {
        > div:first-child {
            width: 100%;

            p {
                height: 60px;
            }
        }

        > div:nth-child(2), > div:nth-child(3) {
            width: calc(50% - 30px);

            p {
                height: 120px;
            }
        }
    }

    @media(max-width: 720px) {
        > div {
            width: calc(100% - 20px);

            p {
                margin-bottom: 20px;
                height: auto;
            }
        }
    }
}

/* Area page */
div.area-page {
    main.govuk-main-wrapper {
        div.grid.grid2 {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: stretch;
            gap: 0;

            > div:first-child {
                margin-right: 30px;
                width: calc(100% - 330px);
            }

            > div:last-child {
                width: 300px;
            }
        }

        div.area-quintile-header {
            > div {
                margin-left: 350px;
                width: calc(100% - 350px);
                height: 35px;

                > span:first-child {
                    float: left;
                    font-size: smaller;
                    text-align: center;
                }

                > span:last-child {
                    float: right;
                    font-size: smaller;
                    text-align: center;
                }
            }
        }

        div.area-quintile {
            display: flex;
            align-items: center;
            gap: 20px;

            > div:first-child {
                width: 350px;
                text-align: right;
            }

            > div:last-child {
                width: calc(100% - 350px);
                height: 35px;
            }
        }

        div.map-container {
            margin-bottom: 15px;
            border: 1px solid #333;
        }
    }

    @media(max-width: 40.0625em) {
        display: block;

        h1.govuk-heading-l.mobile {
            padding-top: 20px;
        }

        div.dashboard-area-menu {
            display: block;
            position: relative;
            width: 100%;

            ul#sidemenu {
                display: block;

                + hr.govuk-section-break {
                    display: none;

                    + ul.moj-side-navigation__list {
                        display: none;
                    }
                }
            }

            /*ul#sidemenu + hr.govuk-section-break {
                display: none;
            }

            ul#sidemenu + hr.govuk-section-break + ul.moj-side-navigation__list {
                display: none;
            }*/
        }
    }

    @media(max-width: 1200px) {
        main.govuk-main-wrapper {
            div.area-quintile-header {
                > div {
                    margin-left: 0;
                    width: 100%;
                }
            }

            div.area-quintile {
                display: block;

                > div:first-child, > div:last-child {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }

    @media(max-width: 1020px) {
        main.govuk-main-wrapper {
            div.grid.grid2 {
                display: initial;

                > div:first-child, > div:last-child {
                    margin: 0;
                    width: auto;
                }
            }
        }
    }
}

/* Visualisations */
div.visualisation-tabs {
    width: 100%;
    height: 100%;
    margin: 30px 0;
    background-color: #fff;

    ul {
        li:first-child {
            padding-left: 0 !important;
        }
    }

    div[role="tabpanel"] {
        padding: 30px 0;
    }
}

div.map-tooltip {
    margin: 0;
    width: calc(100% - 40px);
    width: 200px;
    border: 2px solid #000 !important;
    background: rgba(255, 255, 255, 1) !important;

    svg {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;

        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linejoin: round;
        stroke-miterlimit: 2;
    }

    h4.area {
        margin: 0 30px 0 0;
    }

    p.title {
        margin: 20px 0 0 0;
        font-size: smaller;
        color: #666;
    }

    p.value {
        margin: 5px 0 0 0;
        font-weight: bold;
    }

    p.quintile {
        margin: 20px 0 0 0;
        font-size: smaller;
        color: #666;
    }

    p.performance {
        margin: 5px 0 0 0;
        font-weight: bold;
    }

    /*div.legend {
        height: 40px;
        margin: 10px 0;
    }*/

    div.marker {
        display: none;
        height: 20px;

        > div {
            display: inline-block;
            width: 1px;
            height: 20px;
            transition: margin 500ms;
            visibility: hidden;

            img {
                margin-left: -15px;
            }
        }
    }
}

div.map-scale {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 300px;
}

div.quintile {
    margin: 0 0 10px 0;
    height: 20px;

    div {
        vertical-align: middle;
    }

    div.q1 {
        background: #ca0020;
    }
    div.q2 {
        background: #f4a582;
    }
    div.q3 {
        background: #ffffbf;
    }
    div.q4 {
        background: #92c5de;
    }
    div.q5 {
        background: #0571b0;
    }
}

div.continuous {
    margin: 0 0 10px 0;
    height: 20px;
    background: #4a7d70;
    /*background-image: linear-gradient(90deg, #440154, #482475, #414487, #355f8d, #2a788e, #21908d, #22a884, #42be71, #7ad151, #bddf26, #bddf26); viridis */
    background-image: linear-gradient(90deg, #ca0020, #f4a582, #ffffbf, #92c5de, #0571b0);
}

div.scale {
    margin: 40px 0 0 0;

    div.scale-legend {
        font-size: 1rem;

        div:last-child {
            text-align: right;
        }
    }

    @media(max-width: 1400px) {
        div.scale-legend {
            div:first-child {
                float: left;
                width: 49%;
            }

            div:last-child {
                float: right;
                width: 49%;
            }
        }
    }
}

.table-container .table-row {
    @media(max-width: 40.0625em) {
        white-space: unset;

        th, td {
            padding: 10px 0 !important;
            font-size: smaller;
        }

        span.table-drag {
            display: none;
        }
    }
}

.grid-composite {
    @media(max-width: 40.0625em) {
        display: none;
    }
}

.ranking-table {
    height: calc(100% - 30px);
    padding-right: 10px;

    &.showhide {
        overflow-y: hidden;
    }

    &.scroll {
        overflow-y: auto;
    }

    > table {
        width: 100%;
        margin-bottom: 0px;

        th.align-left {
            text-align: left;
        }

        th.align-right {
            text-align: right;
        }
    }

    a#showmore {
        display: inline-block;
        margin: 15px 10px;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    height: 12px;
    background: #ccc;
    border-radius: 6px;
    background-image: linear-gradient(#12407f, #12407f);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb, input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    width: auto;
    height: auto;
    border-radius: 50%;
    background: #12407f;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover, input[type="range"]::-moz-range-thumb:hover, input[type="range"]::-ms-thumb:hover {
    background: #1f598d;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track, input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

datalist {
    display: flex;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
    margin-top: 16px; 
}

datalist option:before {
    content: '';
    display: block;
    width: 0;
    height: auto;
    padding-left: 3px;
    text-indent: 0;
}

a.download {
    display: block;
    max-width: 745px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f8f8f8;
}

div.content-tabs {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: stretch;

    height: 100%;
    padding: 15px;
    gap: 20px;

    > div {
        flex-grow: 1;
    }

    div:first-child:nth-last-child(2), div:first-child:nth-last-child(2) ~ div {
        /*width: 50%;*/
    }
}

p.chart-hint {
    margin: 0;
    text-align: center;
    color: #555;

    svg {
        vertical-align: bottom;
    }
}

div.area-map {
    > div:first-child {
        position: relative;
        max-width: 775px;

        > div.map {
            width: 537px;
            height: 704px;
            margin: 0 auto;

            svg path[data-value="1"] {
                cursor: pointer;
            }
        }
    }

    div#areaName {
        display: none;
        position: absolute;
        height: 25px;
        bottom: 20px;
        left: 20px;
        padding: 5px;
        background: #fff;
        border: 1px solid #666;
    }
}
